[2019-11-18 14:09] TomasTomecek commented on #597
It is true, we got lazy with the upstream release blog posts.

On the other hand, [changelog](https://github.com/packit-service/packit/blob/master/CHANGELOG.md) should be up to date all the time.

We probably need to just make this clear on the website. Thank you for the feedback!

[2019-11-18 14:15] TomasTomecek commented on #578
Okay, so let's catch the exception, look into the error message, if it's this one, just report koji build ID and ignore the exception. Sounds good?

[2019-11-18 14:27] lachmanfrantisek commented on #606
OK, so it's not a problem to use copr without singing the CLA for Fedora?

We are using sandboxing as well, so it should not be technically a problem to skip that check.

Some middle-way can be to:
- Wait for the first contributor trigger per-PR. (Needs one 'manual' built for each PR from the public.)
- Whitelist the user after one approval in that repo. (Needs one 'manual' built for each contribu

[2019-11-18 14:32] TomasTomecek commented on #606
The only reason we are doing this is legal and licensing: https://docs.pagure.org/copr.copr/user_documentation.html#what-i-can-build-in-copr

If forbidden code ever gets to Fedora servers (e.g. copr builders and copr repos afterwards), Fedora can easily be sued for distributing such code.

Obviously, there is a solution here: this process could be configurable - changes from any contributor would

[2019-11-18 14:34] TomasTomecek commented on #607
I'd remove it since we were unable to utilize it.

[2019-11-18 14:34] yarda commented on #606
@TomasTomecek thanks for info, looking forward to get it resolved soon.

[2019-11-18 14:37] pemensik commented on #606
Obvious solution would be to stop redistributing the merged code until the review. But that should not affect testing the merge and presenting test results after the change.

I think it could be solved by hiding sources created by merge requests changes, just present results. Make such sources accessible only by development team and it should be fine.

This is to prevent redistribution, not execut

[2019-11-18 14:42] TomasTomecek commented on #606
Building in copr means redistributing code.

[2019-11-18 16:02] yarda opened #608 "Force push will not re-trigger actions"
`trigger: pull_request` doesn't re-trigger on force push. Is there a way how to achieve re-build/re-testing upon force push?

[2019-11-18 16:12] yarda opened #609 "RFE: improve documentation about Beakerlib tests"
After reading several times:
https://packit.dev/testing-farm/
I still have no idea how to enable Beakerlib tests in our project.

For example the doc is at first talking about ci.fmf. Where is it located? Then it shows:
[code]
Is it content of ci.fmf? What is /test/build/smoke?

Finally it talks about 'prepare' and configuration for rhel-8 is shown (which ansible playbooks are supported?), but the

[2019-11-19 08:09] lachmanfrantisek commented on #609
ping @thrix @psss

[2019-11-19 08:13] lachmanfrantisek commented on #608
Thanks for the issue, do you have some example PR?

(If I get you right, this scenario should work well. -- Maybe some other problem occurred.)

[2019-11-19 08:22] psss commented on #609
Thanks for the feedback. We'll try to improve the doc. For now you can get some inspiration from the working example pull request I've created (it contains an ansible playbook example as well):

* https://github.com/psss/tuned/pull/1

The config file with the plan can be placed in whatever location you prefer and named as you like. It only needs to have the `.fmf` extension. If you define a single

[2019-11-19 08:23] lachmanfrantisek commented on #609
@psss Thanks for the response.

[2019-11-19 09:39] yarda commented on #608
For example here: https://github.com/redhat-performance/tuned/pull/209, there was first PR, it correctly triggers, then force push to address reviewer comments and then it didn't trigger, so I assumed it's not re-triggered by force push - there was no more force pushes since then to verify this assumption.

[2019-11-19 10:35] yarda commented on #608
For my colleague it seems it works now, so maybe it was some intermittent problem.

[2019-11-19 11:04] thrix commented on #609
@yarda it is funny @TomasKorbar made it running :)

https://github.com/TomasKorbar/tuned/

Anyway, we MUST improve the docs, thanks for the feedback @yarda

[2019-11-19 11:23] lachmanfrantisek commented on #608
It looks like the build was actually triggered but Packit did not create a new comment -- it's intended..;-)

(Github automatically removes the status after the push, since it's a commit status actually.)

Since we were requested to be less spammy, we come with the following approach:
- if the current build fails, create a comment with the details
- if the current build passes, comment only if the

[2019-11-19 11:26] lachmanfrantisek commented on #608
Do you want to get a new comment for each build as it was done previously? We already have a request for turning the comments completely off, so it is something that can be configurable.

[2019-11-19 12:08] yarda commented on #608
I think we will be OK with additional comments.

[2019-11-19 12:11] yarda commented on #609
@thrix I think this is not contest who will get it running with minimal information available. Of course it could be found out from the source code if you really want to deploy it, but the fact is that the current docs are far from being optimal.

[2019-11-19 12:15] sakalosj commented on #542
@TomasTomecek was checking packit/schema.py should be reworked. am i right? is there anything you want pinpoint before i start working on it?

[2019-11-19 12:19] lachmanfrantisek commented on #608
Ok, just ot confirm:

- defaults to current behavior
- can be configured to be silent/verbose(=what you want)

[2019-11-19 12:29] yarda commented on #608
OK thanks, so you can probably close this as a dupe.

[2019-11-19 13:08] thrix commented on #609
@yarda it is not a contest at all. Sorry if I sounded somehow that your problem is irrelevant. There must be a proper documentation.

[2019-11-19 13:23] thrix commented on #609
@lachmanfrantisek @TomasTomecek can you add us to this project, so we can assign ourselves to the issue pls?

[2019-11-19 13:30] lachmanfrantisek commented on #608
Related to: https://github.com/packit-service/packit-service/issues/168

[2019-11-19 13:33] lachmanfrantisek commented on #609
@thrix  Can I transform this issue to [packit.dev](https://github.com/packit-service/packit.dev/) repo?

[2019-11-19 13:33] lachmanfrantisek commented on #609
Done

[2019-11-19 13:36] thrix commented on #609
Yes please, better place

[2019-11-19 16:19] TomasTomecek commented on #606
Yes, I agree with you. The thing is that changing such service (or creating our own) while keeping all the features and user experience (or even improving it) would take us weeks to implement, test, deploy and verify.

I just want to be perfectly clear what's the ask from you here and how to solution could look.

[2019-11-20 12:10] jpopelka commented on #607
Looks like `good-first-issue` with a note that most changes will probably be in [packit-service](https://github.com/packit-service/packit-service/blob/master/packit_service/worker/github_handlers.py#L36)

[2019-11-20 12:50] #376 closed

[2019-11-20 15:03] TomasTomecek commented on #542
@sakalosj that's correct: turn schema.py into the marshmallow format

make it 100% compatible, that's all :)

[2019-11-20 15:11] #140 closed

[2019-11-21 08:47] TomasTomecek commented on #598
What's the status here? Is there anything else we can help with?

[2019-11-21 08:51] StykMartin commented on #598
@TomasTomecek I will take a look into the suggestion at the end of this week/at the beginning of the next one.

But in general I would say, it would be great if you can show us how you think we should replace tito w/ packit.

[2019-11-21 10:11] TomasTomecek commented on #598
@StykMartin I'd say that best thing would be to meet in person and discuss it in detail - if we wrote a guide, it would take us week(s) to make it perfect and get it constantly reviewed by you guys (mainly because we are not users of tito)

[2019-11-21 11:55] TomasTomecek commented on #542
@sakalosj did you have a chance to look into this?

[2019-11-21 16:13] StykMartin commented on #598
Works for me.

[2019-11-21 21:38] sakalosj commented on #542
@TomasTomecek sorry not yet, was busy last days, but should be better next days. will update you once there is progress

[2019-11-22 09:07] TomasTomecek commented on #542
@sakalosj no worries, thanks for the update!

[2019-11-27 15:57] StykMartin opened #615 "[SRPM] More than one source in SPEC"
At this moment is seems that SRPM should be created by Source0 only.
If I'm defining multiple sources packit is failing
[code]
spec
[code]

[2019-11-28 15:47] lachmanfrantisek commented on #540
Let's have some progress with this.

- Names/aliases should be understandable for upstream developers -- not a Fedora-specific terms.
- What about staying with the two or three aliases:

| | Fedora 31 released | After a month | After the branching |
| --- | --- | --- | --- |
| ? | rawhide (32) | rawhide (32) | rawhide (33), branched (32)  |
| ? | latest (31) | latest (31) | latest (31) |
| ? | old

[2019-11-28 15:56] hroncok commented on #540
Naming is hard :)

Also note that "branched" is dangerous: it starts as heavy "development" and ends with "frozen". Either way, IMHO having rules for this stored in upstream repo seems quite dangerous. There are two contradicting things here:

 - it should be understandable for upstream developers who are not familiar with fedora lifecycle, versioning, updates policy
 - it should reflect fedora li

[2019-11-29 07:33] lachmanfrantisek commented on #540
@hroncok thanks. The`development` and `stable` aliases looks good.

[2019-11-29 07:40] lachmanfrantisek commented on #540
Implementation details:

- Do we want to use it for all jobs? (`propose-downstream`, `sync-from-downstream`, `copr-build`)
- Do we want to have that in tool as well?
    - `packit propose-update --dist-git-branch stable`
    - `packit build --dist-git-branch stable`
    - => mapping has to be in the `packit-service/packit` code (It would be easy to switch to some API call in the future.)
- Do we w

[2019-11-29 09:20] hroncok commented on #540
I don't know about any of this, just a note that EPEL, unlike Fedora, might use actual numbers, given its nature and lifecycle.

[2019-11-29 11:09] TomasTomecek commented on #540
+1 stable & development, that's what I had in mind as well; but please, make it `fedora-development` and `fedora-stable` because sooner or later we may pick up more OS flavors

yes and yes

wouldn't bother about centos and epel this time since EL versions are very different

since this is gonna be in packit.yaml, it *needs* to be in the tool ;) and I'd say it makes sense to also support it in the

[2019-12-02 09:03] TomasTomecek commented on #615
The action for us here is to download the other sources from the remote locations.

[2019-12-03 07:23] jpopelka opened #617 "'make check_in_container' runs only ./tests/unit/"
It should run also `./tests/integration/` and `./tests/functional/`.

[2019-12-03 08:00] #617 closed

[2019-12-03 12:18] lbarcziova commented on #607
Solved in #614

[2019-12-03 12:18] #607 closed

[2019-12-04 11:59] #445 closed

[2019-12-04 19:11] StykMartin commented on #615
Any ETA for this one?

[2019-12-05 12:09] jpopelka commented on #604
Fixed with #605

[2019-12-05 12:09] #604 closed

[2019-12-05 12:11] jpopelka commented on #598
@StykMartin @TomasTomecek did we discuss this last week? Can you remind me the resolution?

[2019-12-05 12:14] jpopelka commented on #588
Will this still be valid once we have default job(s)?

[2019-12-05 12:16] jpopelka commented on #570
Fixed with #575, thanks again Sam!

[2019-12-05 12:16] #570 closed

[2019-12-05 12:27] jpopelka commented on #562
We can use `mtf` for this.

[2019-12-05 12:30] jpopelka commented on #566
AI:
Write down documentation on how to do this the easiest way.
Deprecate dedicated config options for getting version and creating archive command for sake of actions.

[2019-12-05 12:34] #588 closed

[2019-12-05 12:36] jpopelka commented on #558
AI: Fix the propose-update requre tests (the one in $subject)

[2019-12-05 12:39] jpopelka commented on #556
@jscotka what's the progress? Is it done already?

[2019-12-05 12:44] jpopelka opened #623 "Source-git overhaul"
Let the flame begin:

TODO:

- update documentation: make the guide E2E - include packit.yaml

[2019-12-05 12:45] jpopelka commented on #437
Hastalavista bejby, see you in #623

[2019-12-05 12:45] #437 closed

[2019-12-05 15:15] psss commented on #566
So there is already a better way, just not yet documented? Or the implementation is also in progress?

[2019-12-05 15:28] lachmanfrantisek commented on #566
- We need to document the prefered way for the current state at first. (It's definitely not so clear now.)
- We support some values that were replaced by the actions (e.g. `current_version_command`).
    - We want get rid of those.
- Then, we can simplify the config or support more workflows so less people needs to do it.
    - Do you have some better way, how it can be configured?

[2019-12-09 15:49] lachmanfrantisek opened #629 "[propose-update] bumpspec run multiple times when using more branches"
- f30: https://src.fedoraproject.org/rpms/python-ogr/pull-request/151#request_diff
![Screenshot from 2019-12-09 16-45-15](https://user-images.githubusercontent.com/20214043/70450163-8addbb00-1aa3-11ea-8d02-df466a43b363.png)

- f31: https://src.fedoraproject.org/rpms/python-ogr/pull-request/152#request_diff
![Screenshot from 2019-12-09 16-45-22](https://user-images.githubusercontent.com/20214043/70

[2019-12-10 11:22] #629 closed

[2019-12-11 09:28] #542 closed

[2019-12-11 13:18] TomasTomecek commented on #615
given Christmas, I'd say that January

[2019-12-12 10:41] TomasTomecek commented on #615
@lachmanfrantisek volunteered to look into this before Christmas

[2019-12-13 10:07] TomasTomecek opened #637 "don't require packit yaml in downstream"
@dustymabe suggested that we would not store packit.yaml in downstream, instead there would be either a link or a way to discover packit yaml in a remote location.

With this, it would be less confusing to users and the file would be stored only in a single place.

[2019-12-13 10:41] lachmanfrantisek commented on #637
Some notes:

- It's not required -- but there are two downsides:
    - You cannot run `packit status https://github.com/packit-service/ogr` and `packit status https://src.fedoraproject.org/rpms/python-ogr` with the same result.
    - We loose the mapping to upstream from the dist-git.
- We sync the config by default -- there is (currently) no way to turn that off.

=> We (somehow) need this inform

[2019-12-13 11:03] jscotka commented on #637
I suggest to let packit.yaml in dowstream, I think this is good.
But my idea is, to not sync it only as file, but also store there information about state. (as they are also in git notes) eg, it were synced by propose update, with links to PR, and all other information what could be useful.

[2019-12-13 11:36] lachmanfrantisek commented on #637
This is more about another way to define config:

1. See if the `packit-conf.link` file exists
  1. if yes, then use the content as a link to the config file, download it and use that one
  2. if no, try to find regular config

Possible options in the link file:
- git project (`https://github.com/packit-service/ogr` or `https://src.fedoraproject.org/rpms/python-ogr`)
- git repo (`https://github.co

[2019-12-13 13:26] TomasTomecek opened #639 "source-git: patches are not generated properly"
https://github.com/packit-service/systemd-rhel8-flock/pull/9#issuecomment-564459726

[2019-12-13 13:34] psss commented on #566
I think the best way would be just a single command which would either:

* show the resulting archive file name in the output (e.g. last line)
* or store the archive to the location provided in an environment variable

It should not be necessary to configure the `current_version_command`.

[2019-12-13 13:42] lachmanfrantisek commented on #566
- This should work in the current version:
https://github.com/packit-service/packit/blob/master/packit/upstream.py#L376

[2019-12-13 15:16] dustymabe commented on #637
yes, something like this is what I was thinking.

[2019-12-17 08:15] ondrejbudai opened #641 "packit srpm not updating version"
When setting up packit-as-a-service for osbuild-composer I've encountered an issue that `packit srpm` isn't updating Version field in the spec file to `PACKIT_PROJECT_VERSION`.

Steps to reproduce:
[code]

In resulting srpm there's spec file with `Version: 5`. Due to this issue I'm unable to build the package. Link to full log from `packit --debug srpm`: https://gist.github.com/ondrejbudai/324b83c

[2019-12-17 08:41] ondrejbudai commented on #641
I've just posted a PR for osbuild-composer which includes workaround for this issue: https://github.com/osbuild/osbuild-composer/pull/179

[2019-12-17 09:52] lachmanfrantisek commented on #641
Thanks for the report. I've reproduced that locally.

The cause is this error: https://gist.github.com/ondrejbudai/324b83cc3eb785b1dd6e7b00410d094b#file-gistfile1-txt-L96

This error will end the specfile fixing process. I need to look into that to see if we can/want to change the version also in that case.

[2019-12-17 10:21] lachmanfrantisek commented on #641
With the fix from #642 , the version is correctly set and the RPM build went well.

[2019-12-17 10:46] #641 closed

[2019-12-17 10:48] lachmanfrantisek commented on #641
@ondrejbudai please, try the master version of packit CLI so we can verify the fixed version is what you wanted.

It will take some time to have it in packit-as-a-service -- usually we update the service code weekly.

[2019-12-17 15:00] ondrejbudai commented on #641
I've just tried it and now it works correctly even though the error message is still present. Thanks for super quick fix!

[2019-12-17 15:35] lachmanfrantisek commented on #641
It is needed only in the [source-git mode](https://packit.dev/docs/how-to-source-git/) -- we need to investigate that, but for now, you can ignore that error.

[2019-12-17 16:26] jpopelka commented on #641
That's correct, we automatically update it over weekends, but I've planned to skip it this time/weekend since there won't be anyone on Monday to check everything is still OK.
Ondro, if you need the fix in the service I can make an exception and re-deploy tomorrow.
Or is the CLI from `master` enough for you?

[2019-12-17 20:35] ondrejbudai commented on #641
No worries, we also won't be much active during holidays, so we can postpone enabling packit to the January without any problems whatsoever. :)

Thank you for the great communication from your side!

[2020-01-02 07:51] ondrejbudai commented on #641
Have the service code been updated yet? If not, is it scheduled to the following weekend?

[2020-01-02 07:59] jpopelka commented on #641
It will be updated this weekend so you'll be able to use it on Mon 6th

[2020-01-02 10:49] lachmanfrantisek commented on #615
Sorry for the delay,

This is a method of Specfile that we probably need: https://rebase-helper.readthedocs.io/en/latest/api/specfile.html#rebasehelper.specfile.SpecFile.download_remote_sources

@StykMartin Is it possible to have those third-party sources as URL? Otherwise, we don't know where to find those files.

[2020-01-02 17:15] StykMartin commented on #615
@lachmanfrantisek. Yes. I'm expecting that you need URL.

[2020-01-03 08:19] lachmanfrantisek commented on #615
OK, then it's quite easy and the fix is here: #643 (I'll only need to add some tests.)

[2020-01-03 08:41] StykMartin commented on #615
Thanks. I will test it after it is merged to master.

[2020-01-03 09:32] lachmanfrantisek commented on #586
We probably need to spend some time on CLI-(re)design in general.

[2020-01-03 12:37] #615 closed

[2020-01-03 14:29] jpopelka opened #645 "Failed to parse SPEC file: error: line 2: Unknown tag: <!DOCTYPE html>"
- https://sentry.io/organizations/red-hat-0p/issues/1416853235
- https://github.com/OpenSCAP/scap-workbench/pull/236

[2020-01-03 14:42] dhodovsk commented on #645
In the commit https://github.com/OpenSCAP/scap-workbench/commit/ca1ef78b72980f73a7ab1e1ef3a3efb53524cd29 the spec file was downloaded in HTML form (not raw). But it has been fixed in https://github.com/OpenSCAP/scap-workbench/commit/9947e411943535674a3f8f43ed809398a25d1947 .

Please reopen if you think an invalid spec file should be handled nicer.

[2020-01-03 14:42] #645 closed

[2020-01-06 07:39] lachmanfrantisek commented on #469
- Do we still want it? Is it a priority?
- @lbarcziova Since you are assigned..;-) : Do you work on it? / Do you want to work on it?

[2020-01-06 08:48] StykMartin opened #647 "Request wasn't successful, there is probably a bug in the API code."
Hi, I'm facing following issue w/ latest packit. Am I doing something wrong?
Version `Packit 0.7.2.dev131+gc678c7f`
It seems that Packit has hard time to speak with COPR. Not sure what is the problem as we are getting just an exception.

Debug output

[code]

[2020-01-06 09:02] StykMartin commented on #647
`09:43:11.512 api.py            DEBUG  owner=None, project=packit-cli-beaker-develop, path=/home/mastyk/beaker/beaker-beaker.27.0.2.g1b01e5055-1.fc31.src.rpm`

I just noticed `owner=None`.

[2020-01-06 09:09] lachmanfrantisek commented on #647
Good catch. Looks like you have `owner` not configured in the copr config and you don't set it as an option. Can you try setting the `owner` using CLI option?

[code]

We need to rise a better error message.

[2020-01-06 09:14] lachmanfrantisek commented on #647
Ok, this is a debug from the API so it means you don't specify that as a CLI option. It can still load the owner from copr config.

[code]

[2020-01-06 10:29] matejak commented on #645
I think that this error message is quite descriptive.

[2020-01-06 12:15] psss commented on #566
Nice, thanks. Trying on https://github.com/psss/edd/pull/10

[2020-01-06 12:36] psss commented on #566
Does not seem to be working:

    The create-archive action did not output a path to the
    generated archive. Please make sure that an absolute path to
    the archive is printed.

Here's the output of the `make packit-tarball` command:

    mkdir -p /home/psss/git/edd/tmp/{SOURCES,edd-0.3}
    cp -a LICENSE README.rst Makefile edd.spec edd docs /home/psss/git/edd/tmp/edd-0.3
    cp docs/man.rst

[2020-01-06 12:38] lachmanfrantisek commented on #566
I am just playing with that.

[2020-01-06 12:43] lachmanfrantisek commented on #566
[code]
It looks like the parsing went well but the build failed:

[code]

[2020-01-06 12:43] psss opened #649 "packit/srpm-build status pending after a failure"
When packit/srpm-build fails status says `pending`. See the attached screenshot.
![pending](https://user-images.githubusercontent.com/2803150/71818875-784aa780-308a-11ea-9ec8-35548bb85668.png)

[2020-01-06 12:45] lachmanfrantisek commented on #566
What do you/we preffer?
- Copy the archive to the root directory.
- Edit the `rpmbuild` command to accept other location?
- Anything else what can be done to fix that?

[2020-01-06 12:51] psss commented on #566
I think the `rpmbuild` command should not depend on the archive location. If a full path is provided (and if I understand it correctly this is required by packit) then the archive should be taken from that location. No additional steps (such as moving or copying the archive) should be required. Packit should take care of it.

[2020-01-06 12:55] psss commented on #566
Also, while we're looking into this, could we get rid of the `current_version_command` as well?. Would be nice if the custom tarball could be enabled with just this:

    actions:
        create-archive:
        - make packit-tarball

[2020-01-06 13:06] lachmanfrantisek commented on #566
I am going to fix the archive path in the specfile to be relative to the spec location. (Currently, we use only the filename.)

- It's an old config value from the times before `actions`, now we have `get-current-version` action. (We left that because of the backwards compatibility.)
- We need to know the version before we run the `create_archive` command. (e.g. we are forwarding `PACKIT_PROJECT_V

[2020-01-06 13:29] lachmanfrantisek commented on #566
OK, that does not work. We need to:
- change the `_sourcedir` rpmbuild macro or
- copy the archive to the root or
- use absolute path but the srpm can be built only locally because of the absolute path. (?)

[2020-01-06 13:34] psss commented on #566
Changing the `_sourcedir` macro seems to be the most natural solution to me.

[2020-01-07 15:05] TomasTomecek commented on #432
Closing since this is already done to some extent: reopen if you want to

[2020-01-07 15:05] #432 closed

[2020-01-07 15:35] TomasTomecek commented on #647
Since #648 is merged, can this be closed now?

[2020-01-07 15:38] lachmanfrantisek commented on #647
The #648 only checks the `owner`, the problem can still be there.

[2020-01-07 17:46] #566 closed

[2020-01-09 13:48] lbarcziova commented on #469
I do not work on it currently, but if it is needed, I can do it.

[2020-01-09 14:11] dhodovsk opened #655 "new minor release"

[2020-01-09 14:13] #655 closed

[2020-01-10 09:22] TomasTomecek commented on #469
this is totally nice-to-have/low-prio ;)

[2020-01-13 07:56] lachmanfrantisek commented on #571
Still relevant (at least looks to me). But not a big priority.

[2020-01-13 07:58] lachmanfrantisek commented on #427
I am not sure about the priority, but it looks still relevant to me.

[2020-01-13 07:59] lachmanfrantisek commented on #232
I am adding `bug` to stop the `stale` bot comment here. We definitely need to check (and fix) that.

[2020-01-13 08:00] lachmanfrantisek commented on #271
Isn't this fixed here?

https://github.com/packit-service/packit/pull/631

[2020-01-13 08:32] lachmanfrantisek commented on #88
Still relevant.

[2020-01-13 11:22] jpopelka commented on #271
Ok, let's consider this fixed.

[2020-01-13 11:22] #271 closed

[2020-01-13 13:36] dhodovsk opened #662 "upstream_package_name required?"
[code]

In PR it works without it - https://github.com/dhodovsk/avocado/pull/1

[2020-01-13 13:45] jpopelka commented on #662
Could have been caused by #657  (@sakalosj)

[2020-01-13 14:29] TomasTomecek commented on #427
We definitely want to provide a way for everyone to populate %changelog in the spec file with some sane default.

[2020-01-14 15:45] packit-as-a-service[bot] opened #665 "[packit] Propose update failed for release 0.8.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `master` | `Failed to download file from URL https://files.pythonhosted.org/packages/source/p/packitos/packitos-0.8.0.tar.gz. Reason: 'Not Found'. ` |
| `f31` | `Cmd('git') failed due to: exit code(1)   cmdline: git checkout f31   stderr: 'error: Your local changes to the following files

[2020-01-15 10:33] leospol commented on #639
Hi @TomasTomecek, any plans to fix this soon? I guess there is no such thing as workaround for this. Thx

[2020-01-15 10:41] TomasTomecek commented on #665
I guess that b/c of the first failure, subsequent updates couldn't be made.

[2020-01-15 11:42] TomasTomecek commented on #639
We are actually planning to do a pitch for CentOS stream team with packit and we need to fix this in order to get there. Will assign myself. Sorry it takes so long.

[2020-01-16 10:40] #639 closed

[2020-01-16 12:31] TomasTomecek commented on #647
@StykMartin could you please retry with git master again?

[2020-01-16 12:33] TomasTomecek commented on #540
This is now done and released in 0.8.0 in deploy in prod.

[2020-01-16 12:33] #540 closed

[2020-01-17 17:31] jpopelka commented on #597
We revived [the blog](https://packit.dev/posts) in November

[2020-01-17 17:31] #597 closed

[2020-01-20 12:29] jpopelka opened #669 "Investigare/report why/that Koji can't build packit 0.8.0"
While it builds OK in mock and Copr, there are some failures in Koji:
- https://koji.fedoraproject.org/koji/taskinfo?taskID=40780046

[code]

[2020-01-20 12:37] lachmanfrantisek commented on #337
It's being fixed in #654

[2020-01-20 14:07] jlebon commented on #264
This issue is still relevant to us.

[2020-01-20 15:05] #337 closed

[2020-01-20 15:16] jpopelka opened #671 "new patch release"

[2020-01-20 15:19] #671 closed

[2020-01-20 15:20] jpopelka commented on #669
There are some ancient/non-existent files in the tarball.
I think release-bot is to blame.
I'll try 0.8.1

[2020-01-20 16:00] packit-as-a-service[bot] opened #673 "[packit] Propose update failed for release 0.8.1"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `master` | `Failed to download file from URL https://files.pythonhosted.org/packages/source/p/packitos/packitos-0.8.1.tar.gz. Reason: 'Not Found'. ` |
| `f31` | `Cmd('git') failed due to: exit code(1)   cmdline: git checkout f31   stderr: 'error: Your local changes to the following files

[2020-01-20 16:27] #669 closed

[2020-01-21 07:45] lachmanfrantisek commented on #264
@jlebon Thanks for the update. Sorry about the stale bot..

[2020-01-21 08:09] #673 closed

[2020-01-21 08:10] dhodovsk commented on #665
Sentry: https://sentry.io/organizations/red-hat-0p/issues/1457274591

[2020-01-21 09:40] jpopelka opened #675 "packit create-update seems to be stuck while waiting on Bodhi"
The [update was created](https://bodhi.fedoraproject.org/updates/FEDORA-2020-53e7b86b2b) successfully, but at some moment the process looked like hanging:

[code]

[2020-01-21 09:48] jpopelka commented on #675
Now I realized I was actually doing in from the dist-git repository.
When I tried it now from upstream repo it finished successfully.

[2020-01-22 12:37] #578 closed

[2020-01-23 09:07] TomasTomecek opened #679 "`packit status` shows outdated versions in distgit"
[code]

As you can see, bodhi and koji builds have 0.6.1 while all dist-git branches have 0.4 displayed. Which is wrong. I just checked and rawhide indeed has 0.6.1. Something's wrong.

[2020-01-23 13:03] #679 closed

[2020-01-25 14:49] TomasTomecek opened #681 "use case: I use different spec files for different OS releases"
For people who have different spec files in different dist-git branches, packit needs to pick the correct spec for the respective branch.

We can easily define an env to say the targets we want to build for.

notes:
* but we submit one build in copr for all the targets

TODO:
* [ ] ask DMach
* [ ] suggest new .packit.yaml option(s)
* [ ] discuss with stakeholders
* [ ] docs
* [ ] code

[2020-01-26 12:09] TomasTomecek commented on #681
CC @matejak

[2020-01-27 13:01] dhodovsk opened #692 "run_command - run all the user defined commands in shell"
[code]

It works OK when its called using bash:
[code]

If it is not possible, we should document it clearer in doc.

[2020-01-27 14:54] dhodovsk opened #686 "custom copr project not working"
When triggering packit copr-build with project specified, it sets the project name to something else - dhodovsk/packit-cli-hello-world-master and then fails with `ERROR    Request wasn't successful, there is probably a bug in the API code.`

Packit config
[code]

First copr run:
[code]

[2020-01-28 08:54] TomasTomecek commented on #686
Seems like that you are not allowed to create the project:
[code]

[2020-01-28 08:57] dhodovsk commented on #686
But the project should be `dhodovsk/packit` - without the `-cli-hello-world-master` - and that one exists - https://copr.fedorainfracloud.org/coprs/dhodovsk/packit/

It even created the one with the added branch and name - https://copr.fedorainfracloud.org/coprs/dhodovsk/packit-cli-hello-world-master/

[2020-01-28 08:58] TomasTomecek commented on #264
Me, Franta, Dusty and Christian talked about this the other day and we finally understand the request. In coming weeks, we'll have a ton of stuff on our plate, so I can't guarantee when we'll be able to start working on this. Also moving this to packit-service repo.

[2020-01-28 08:59] TomasTomecek commented on #669
did 0.8.1 help?

[2020-01-28 09:01] jpopelka commented on #669
yes

[2020-01-28 09:09] jkonecny12 opened #688 "Getting traceback on copr-build command"
Hello,

I've tried to make a copr build from command line on a fork of my project [python-simpleline](https://github.com/rhinstaller/python-simpleline).

Unfortunately, I'm getting this error:

[code]

[2020-01-28 09:09] TomasTomecek commented on #686
oki, so it seems that we are not reading or using the config value, didn't notice that

[2020-01-28 09:21] lachmanfrantisek commented on #688
@jkonecny12 thanks for the report. It's caused by the copr package we are using -- we need to handle that in a nicer way.

---

The related issue in the service repo:
https://github.com/packit-service/packit-service/issues/316

What about closing the one in the service since we need to fix that here?

[2020-01-28 09:29] lachmanfrantisek commented on #538
We need to at least take a look at this one.

[2020-01-28 09:31] dhodovsk commented on #688
Duplicate of https://github.com/packit-service/packit/issues/686

[2020-01-28 10:00] lachmanfrantisek commented on #688
I am not sure. They have no custom copr config.

[2020-01-28 14:53] Zlopez opened #689 "[use-case] the-new-hotness dist-git pull request creation"
I want to enhance the-new-hotness with the ability to file PRs directly to dist-git projects instead of attaching patches to bugzilla. I started to work on it in this PR [here](https://github.com/fedora-infra/the-new-hotness/pull/235). All the packit related code could be find in https://github.com/fedora-infra/the-new-hotness/pull/235/files#diff-d74ad19fb2d5a66e5bdf8eec8555ca1d

I'm using only th

[2020-01-28 16:17] TomasTomecek commented on #623
Since we'll work on the stream, I'd close this and start opening smaller issues along the way.

[2020-01-29 13:13] dhodovsk commented on #662
Reason:
`13:32:08.305 local_project.py  DEBUG  Parsed namespace and repo name (avocado, ) from url https://github.com/avocado-framework/avocado/.`
`repo_name` is then not set and this condition is not reached, so `upstream_package_name` is still `None`
https://github.com/packit-service/packit/blob/be12256d5c156d23c1f1a7da60253c79d7e990f5/packit/config/package_config.py#L131-L132

The bug is on ogr

[2020-01-29 13:35] #469 closed

[2020-01-29 13:44] jpopelka opened #691 "[packit create-update] is --dist-git-branch redundant?"
`packit create-update` creates a Bodhi update even without specifying `--dist-git-branch` so it seems it's not needed at all. But even if it was, we can strip it from specified `--koji-build`.

Example:
[code]
created https://bodhi.fedoraproject.org/updates/FEDORA-2020-6790082cfd

[2020-01-30 12:34] TomasTomecek commented on #692
would love to point out that only commands defined in packit.yaml should be executed in shell, the rest should be done as it is now - we are just trying to improve UX for users, not increase the attack vector

[2020-01-30 15:42] sgallagher opened #693 "Version generation for PRs does not guarantee increasing values"
If a pull request involves a rebase (such as to squash in some fixup commits or drop some unneeded changes), there is no guarantee that the NEVRA of the resulting RPM will sort higher than the previous push. This is because the version logic uses `git describe`, which adds a new version section based on the number of commits since the most recent tag. If we squash the patches, this number goes *do

[2020-01-31 16:13] #514 closed

[2020-02-06 12:54] TomasTomecek commented on #689
Thank you for opening this! We're slowly getting back to our day-to-day lives after the conference.

I read it that the ask here is to make the DistGit class not require kerberos if it's not needed. Which makes a lot of sense.

@packit-service/the-packit-team anyone wants to take this one?

[2020-02-06 14:56] Zlopez commented on #689
You are right, I had most issues with creating the `LocalProject` class. You could use my code as a template for testing.

[2020-02-08 18:08] thrix opened #700 "pull request opened from fork - incorrect git repository / ref passed to testing farm"
I am hitting this issue while testing:

https://github.com/oamg/convert2rhel/pull/11

This is a PR opened from a fork. Testing Farm get this request:

[code]
But this does not seem to be correct. Note that git-ref/commit-sha is not from this repo, it is really from the fork ...

[2020-02-08 18:26] thrix commented on #700
yeah, sorry should have been filled to the service ...

[2020-02-10 16:20] StykMartin opened #701 "Rename packit generate to packit init"
At this moment if you need to create new configuration within your project you need to use `packit generate`. I guess it would better to change it to `packit init` from UX perspective. Most of the time when I'm trying to bootstrap project tooling offers `init` command.

[2020-02-10 16:28] csomh commented on #701
Makes sense from my pow.

For the start there could be an `init` alias for `generate`. Documentation and man pages should be also updated to reflect this change.

[2020-02-10 19:37] StykMartin commented on #701
I agree. Keeping both at the begging with deprecation warning in `generate` for example.
In later versions remove `generate` and keep `init` only.

[2020-02-11 08:52] lachmanfrantisek commented on #691
But you can run `packit create-update --dist-git-branch fedora-stable` to create multiple updates with one command.

[2020-02-11 09:00] jpopelka commented on #691
Ok, didn't know that. Should we amend the docstring then?

[2020-02-11 09:09] lachmanfrantisek commented on #691
Probably. We can add some info about aliases.

Otherwise, it's good:

[code]

[2020-02-11 09:22] lachmanfrantisek commented on #693
@sgallagher

Thanks for the detailed description. The example format is pretty long but solves the problem without losing the git info. What do others think?

---

Not for us: We need to take into consideration also the custom version commands.

[2020-02-11 13:54] sgallagher commented on #693
A more complete analysis of the problem is documented for Fedora packaging guidelines at https://docs.fedoraproject.org/en-US/packaging-guidelines/Versioning/#_snapshots

[2020-02-11 16:13] StykMartin opened #702 "Reuse build targets from Packit as a Service in CLI"
At this moment my `.packit.yaml` file looks like this.

[code]
As you can see we are running huge number of build targets.
I would like to run build before I create the PR in GH.
This means I have to put there manually 25 targets. It would be nice if we can unify this so my `packit copr-build` will use the same targets as PR.

[2020-02-11 16:29] TomasTomecek commented on #702
It would be nice if we had a way in the `copr-build` command to use the job definitions, in some sensible way.

[2020-02-11 16:43] #396 closed

[2020-02-12 07:25] lachmanfrantisek commented on #702
Side note: some lines can be saved with aliases:

[code]

[2020-02-12 07:31] StykMartin commented on #702
@lachmanfrantisek love it! Thank you!

[2020-02-12 07:32] StykMartin commented on #702
But, what will happen if Fedora will scrape one arch in Fedora Rawhide? For example, killing 32 bits arch @lachmanfrantisek

[2020-02-12 07:36] lachmanfrantisek commented on #702
Then you can use `fedora-stable` and `fedora-development`:

[code]

[2020-02-12 12:21] jpopelka opened #704 "Remove docs/"
[docs/](https://github.com/packit-service/packit/tree/master/docs) is outdated since the documentation has been living @ https://packit.dev for some time already.
Make sure everything has been transferred and delete it.

[2020-02-13 13:15] TomasTomecek commented on #689
would be nice to use [this](https://github.com/fedora-infra/the-new-hotness/pull/235/files#diff-d74ad19fb2d5a66e5bdf8eec8555ca1dR81-R103) as a test case in our code so we're sure we're not breaking your code base

[2020-02-13 16:01] Zlopez commented on #689
Feel free to use it :-)

[2020-02-13 16:27] dhodovsk commented on #693
Related https://github.com/oamg/convert2rhel/pull/11

[2020-02-13 16:28] dhodovsk commented on #693
Related to: https://github.com/oamg/convert2rhel/pull/11

[2020-02-14 11:24] lachmanfrantisek commented on #702
What about these options?
- Use targets from the config by default. (Instead of the `fedora-rawhide-x86_64`)
- Add a new option for that -- something like `-c`/`--configured-targets`, `-t`/`--targets-from-config`,  `--all`, `-a`/`--all-targets`, `-a`/`--all-configured`

[2020-02-14 11:26] lachmanfrantisek commented on #702
It would be nice to have the same approach also for other subcommands like `propose-update`.

[2020-02-14 13:20] TomasTomecek commented on #689
@lbarcziova said yesterday should would look into this :)

[2020-02-14 17:32] sgallagher opened #706 "Automatically determine fedora-all, fedora-stable and fedora-development aliases"
Right now, the aliases for `fedora-all`, `fedora-stable` and `fedora-development` are hard-coded in [`packit/config/aliases.py`](https://github.com/packit-service/packit/blob/master/packit/config/aliases.py#L26-L30)

It would be better if this was replaced by a query to the public Bodhi REST API to get the current list of stable and development branches. For example (stable releases):

[code]

(Th

[2020-02-14 19:24] sgallagher opened #707 "Allow `downstream_package_name` to be specified per-job"
Some packages have different names on different Fedora/EPEL releases (for example, a newer version of a library on EPEL 7 might be named in the form `packagename$version` while in Fedora it is just `packagename`.

It should be possible to do the following:
[code]

[2020-02-16 10:01] StykMartin commented on #702
Not sure about this one. `dist-git branch != build target`.
For example, in my case, I defined 6 architectures to build, however, `6 architectures  == 1 dist-git branch` -> `master`. This approach would work w/ BREW (build target define all available archs by default), but COPR giving you more ability to build exactly what you need.

[2020-02-16 11:58] thisisshub commented on #704
Can you explain what exactly needs to be deleted yet updated at the [docs/](https://github.com/packit-service/packit/tree/master/docs)

[2020-02-16 12:23] StykMartin opened #708 "Packit doesn't handle Source0 with symbol '-' after %{version}"
I was updating our spec file to match Fedora guidelines. One of the things is to make sure your Source0 is actually pointing to the tarball.

I updated Source0 from
`%{name}-%{version}.tar.gz`
to
`%{name}-%{version}-1.tar.gz`.

The `-1` is created by `tito` in our case because the tag ends up with `-1`.
Everything was fine and I wanted to create a new build via packit.

I've got the following erro

[2020-02-17 07:26] StykMartin commented on #708
@csomh Hunor give me the answers!

[2020-02-17 08:35] csomh commented on #708
@StykMartin Have a link to those spec files, please?

[2020-02-17 08:37] StykMartin commented on #708
@csomh https://github.com/beaker-project/restraint/pull/4/commits/d9f942e644ccc11623a5313e84244e78b63154d0 <- This commit fixed the problem for me. Because I removed `-1`.

Here is full spec
https://github.com/beaker-project/restraint/blob/master/specfiles/restraint-upstream.spec

[2020-02-17 09:00] jpopelka commented on #704
@thisisshub Quite a long time ago we moved all documentation to https://packit.dev so the `docs/` is no longer needed and is most likely outdated.
Regarding your question: ideally whole `docs/` should be deleted and if there's anything which has not been moved to https://packit.dev yet it has to be moved (create a PR in https://github.com/packit-service/packit.dev) first.

[2020-02-17 09:00] lachmanfrantisek commented on #702
I know. Consistency is maybe a better word -- to load metadata for other subcommands in the same way (e.g. same/similar name of the option, same default behaviour,...).

[2020-02-17 10:07] jpopelka commented on #688
I can reproduce this every time and my `~/.config/copr` is up to date.
This shouldn't be so hard to debug and either:
- report to copr people
- fix on our side
- have a nicer error message

[2020-02-17 10:10] jpopelka commented on #688
@lbarcziova perhaps? ^

[2020-02-17 10:21] csomh commented on #708
Short answer: b/c Packit currently [expects](https://github.com/packit-service/packit/blob/a34ec56136b00960dd09a2fc14f1b04135efcf76/packit/upstream.py#L359) your archive name to be `%{name}-%{version}{%extension}` when telling the extension.

tl;dr

After some code-diving it's still not clear why the name of the archive created by Packit has to be in a specific format.

My understanding is that Pa

[2020-02-17 11:12] lbarcziova commented on #688
@jpopelka I can work on it

[2020-02-17 12:51] #562 closed

[2020-02-17 12:51] #556 closed

[2020-02-17 13:48] jpopelka commented on #704
Ok, so I was wrong. There are only links to https://packit.dev in those md files.
Since they have been there for more than 6 months I think it's time to remove the `docs/` completely, which is what #710 does.

@thisisshub sorry, @sakalosj was faster :-)

[2020-02-17 13:53] sakalosj commented on #704
fixed by #710

[2020-02-17 13:53] #704 closed

[2020-02-17 14:37] TomasTomecek commented on #706
The suggestion is good but we rely here 100% on our build backend, which is fedora copr.

Querying bodhi should work just fine for the fedora-stable alias, but development could be a bit tricky: not sure how synced mock, copr and bodhi are when branching happens. In the end, it shouldn't be such a big deal. The worst case is that builds just fail.

[2020-02-17 14:55] sgallagher commented on #706
Well, it might not work for the pull-requests, indeed. COPR usually trails the branch by a while. However, it would be really nice to have for the `propose_downstream` functionality.

[2020-02-18 16:44] jpopelka commented on #455
no longer valid after #712

[2020-02-18 16:44] #455 closed

[2020-02-18 17:04] #688 closed

[2020-02-20 09:07] lachmanfrantisek commented on #707
@sgallagher Thanks for the proposal. I'll move it to the service repository since it needs to be done there.

Some notes regarding the implementation:
- The value can be set either globally or per-job.
- The per-job value is in the `metadata` field and overwrites the global (or default) one.
- The usage of the job metadata from the CLI is discussed here: #702

[2020-02-20 09:59] lachmanfrantisek opened #719 "Better logs"
Since we are publishing the debug logs in the packit-service (e.g. https://stg.packit.dev/copr-build/19/logs), we need to think about them more now.

- format of the log output
- content of the logs (consistency, what/when to log, what is debug/info/warning/...)

[2020-02-20 10:00] lachmanfrantisek commented on #719
Also, the output of the CLI is not pretty. It glues the output of the various tools with our commands and there are many duplicate lines.

[2020-02-20 16:24] jpopelka opened #721 "[Source-git] remove existing patches from spec when adding generated downstream ones"
As Franta [pointed out](https://github.com/packit-service/packit.dev/pull/103#discussion_r381817519), one currently has to remove patches from spec when creating source-git repo, otherwise they would clash with packit-generated ones.
Could packit remove them itself before adding generated ones?

[2020-02-21 10:30] lachmanfrantisek commented on #721
- Do we support combined workflow? (Have some patches created by manually and some automatically.)
- Do we want that behaviour?
- What about warning/error when we found other patches in the spec-file?

[2020-02-21 13:16] jpopelka opened #722 "[Source-git] use -p1 with %autosetup/%autopatch"
When `packit` adds patches from source-git to spec file it needs to make sure that they are applied (`%autosetup` or `%autopatch`) with `-p1` otherwise the application fails due to the
[code]
which needs to be stripped off.

[2020-02-21 17:47] shreyaspapi commented on #701
hello!
I am trying to get familiar with packit, I can try solving this issue.

[2020-02-21 20:18] shreyaspapi opened #725 "Unable to install all packages"
Hey I am using Fedora 30, getting error after doing

python3 setup.py install

[code]

Can anyone help? Getting error installing CCCOlUtils, I searched but couldn't find any answer to it.

[2020-02-23 19:32] #725 closed

[2020-02-24 07:27] lachmanfrantisek commented on #725
Hi @shreyaspapi!

Have you solved it?

Try installing `packit` via `dnf` first. It will bring all the dependencies from Fedora.

If you want to install dependencies directly, you need to install `python3-devel` package to be able to compile the C dependencies from PyPI. (If you install package from Fedora repositories, they are already compiled..)

[2020-02-24 13:27] lbarcziova commented on #647
This should be really fixed now (#713). Can we close it?

[2020-02-24 14:47] #538 closed

[2020-02-24 16:19] jpopelka commented on #722
Or maybe easier would be to generate the dist-git patches with [--no-prefix](https://git-scm.com/docs/git-format-patch#Documentation/git-format-patch.txt---no-prefix) and make sure there's no `-pnum` in spec file.

[2020-02-24 19:49] shreyaspapi commented on #725
Yes. I did solve it thank you! I am just new to working with fedora.

[2020-02-25 05:42] onlywicked commented on #706
Can I work on this issue?

[2020-02-25 07:35] lachmanfrantisek commented on #706
That would be nice!

Regarding the implementation:
- Have in mind that for different jobs/commands we need different approach/API call:
  - For jobs/commands using Bodhi, Koji, and Pagure distgit, we can use this.
  - For builds in copr, look at the related issue: https://github.com/packit-service/packit-service/issues/411
  - You don't need to implement both of them at once, but just make sure we

[2020-02-25 15:06] lbarcziova commented on #686
`oki, so it seems that we are not reading or using the config value, didn't notice that`
And is using of the config value the expected behaviour in the case of CLI? Due to the docs, there is no relation between job config and packit CLI. Also in the command help string, there is nothing about config:
`@click.option(
    "--project",
    help="Project name to build in. Will be created if does not e

[2020-02-25 15:29] jpopelka commented on #686
I think the precedence should be:

1. `--project` value
2. `copr_build` job `project` value
3. `packit-cli-{repo_name}-{branch/commit}`

we're IMHO missing 2.

[2020-02-26 09:49] jkonecny12 opened #729 "[RFE] Automate update of pot file in translation repository"
Hello everyone,

As you know Fedora is moving to Weblate (or already moved). The Weblate recommended workflow for bigger projects is to have separate repository where developers should update pot file. This pot file is then automatically loaded to the Weblate and translations from Weblate are committed to the translation repository.

We think that the pot file update could be handled by the Packit

[2020-02-26 10:26] lachmanfrantisek commented on #729
The workflow is very similar to the `propose-update` -- but less complicated.

- To have it in the CLI, we will need to:
  - [ ] new subcommand [easy]
  - [ ] design the configuration
  - [ ] implement the workflow (copy and clear the propose-update) [should be easy, but will take some time]
  - [ ] test it properly

-  On top of that for CI:
    - [ ] authentication for the Weblate git -- not sur

[2020-02-26 10:53] ignatenkobrain commented on #136
@dhodovsk this won't solve the issue at all. Please read the ticket description and reopen it.

[2020-02-26 11:01] jkonecny12 commented on #729
Weblate doesn't have special repository. It is our repository which has write access for [weblate-bot](https://github.com/weblate). This is also in the same organization which already has access for your service.

@Jibec, do you know how many packages could benefit from this?
From what I know, https://github.com/storaged-project and https://github.com/rpm-software-management/ will most likely be g

[2020-02-26 11:07] lachmanfrantisek commented on #136
@ignatenkobrain thanks for the update!

This issue covers two things:

- The automatic generation of specfiles using some tools like rust2rpm -- that was solved.
- The automatic PRs in distgit on upstream-release:
  - It works via `propose_downstream` job (see [the relevant part of docs](https://packit.dev/docs/configuration/#supported-jobs))
  - Your problem is probably a bit different -- you can

[2020-02-26 11:34] lachmanfrantisek commented on #729
OK, we need to figure out how we can push to repositories as a GitHub app. (Or an easy way how you can grant as the permissions to do it.)

[2020-02-26 12:59] Jibec commented on #729
any initiative making our life easier (as upstream maintainer or translator) is really welcome
I feel like mostly RH internal projects will make use of it.

[2020-02-26 13:08] Jibec commented on #729
If the automation imply to use both: a separate git repo for translations and a folder per branch.
Then, I feel like only Anaconda have use of it, maybe Cockpit also.

Most projects should not handle translations per targeted distribution.
Enforcing it with automation would encourage a bad behavior.

Correct worflow for translations: the same release cycle has the product itself.
Translations shou

[2020-02-26 13:19] jkonecny12 commented on #729
Yes, I agree that Anaconda is special in this. However, all the projects with separate localization repository have to update their pot files regularly and this may help them a lot in this effort.

I honestly think that this could be feature used by many projects outside of the RHEL/Fedora. Basically for anyone using weblate translation platform.

[2020-02-26 13:21] sakalosj opened #732 "separate packit-service api from packit service"
I think, web api and packit-service should be separated, as fedmsg.

In packit-service can run event loop in which we can perform various actions e.g.

* check if long running tasks are still running and update state based on accordingly
* perform checks of dependent services and act based on result - postpone tasks, re-trigger failed tasks, ...

[2020-02-26 13:40] jpopelka opened #733 "Use pathlib.Path consistently"
There are still places/variables throughout the code which store paths as `str`.
It would be nice to use [Path](https://docs.python.org/3/library/pathlib.html#pathlib.Path) everywhere and only retype from/to `str` on input/output.

AC: `grep -R path` and make sure everything is `Path` type

[2020-02-26 15:54] ignatenkobrain commented on #136
Of course nobody in sane mind is going to install GitHub app on thousands of repositories, where even some of them are hosted on gitlab or pijul! And even some projects have multiple subcrates in a repo.

Can you point me to a documentation about that?

[2020-02-26 15:55] ignatenkobrain commented on #136
The workflow here should be when crates.io releases a new version, the spec should be generated and PR sent (keeping any non-applied-in-upstream patches). When on crates.io some version gets yanked - the PR to downgrade package should be sent.

[2020-02-26 16:27] Turivniy commented on #693
Hi, guys do you have any updates?

[2020-02-26 18:38] Jibec commented on #729
It makes sense to use a separate repository when:

- a team works a single product, don't want to break dev workflows and have automation,
- there is a huge amount of content to translate, such as libvirt
- Weblate pull requests are not supported for the platform (pagure, gitlab, gitea, savannah, etc.)

So yes, there are some legitimate workflows. I can only think of Red Hat related projects becau

[2020-02-27 06:19] lachmanfrantisek commented on #136
As Dominika wrote, you can use `post-upstream-clone` "action" to generate your spec-file. (https://packit.dev/docs/actions)

- By now, you can run the packit CLI from distgit.
- Our current approach (and authentication) is tight to the GitHub-app.
  - Not sure about the future, but currently, it will be hard for us to support projects that do not install the app.
  - For this workflow, upstream-re

[2020-02-27 06:45] #722 closed

[2020-02-27 07:11] ignatenkobrain commented on #136
Yeah, I already can run rust2rpm which will do the same, so what's the point?

It would be great if I would not have to push the same config into all thousand of dist-git repos because it is painful to manage. If at some point, I decide to change something in it, I would have to change it in thousand places. This does not scale.

[2020-02-27 07:12] TomasTomecek commented on #693
Good idea, we should do that. @sgallagher very nice write-up.

[2020-02-27 08:13] lachmanfrantisek commented on #136
I agree that the main benefit is the CI. But there are some small benefits:
- You have only one command to run.
- You can run `packit propose-update https://src.fedoraproject.org/rpms/my-rust-package` and it will clone the repo, create SRPM, send it to lookaside cache and create the distgit PR with the changes for you. (Local run is possible as well.)

[2020-02-27 08:15] ignatenkobrain commented on #136
It won't be one command to run anyway, since I'll need to inspect licenses, patch dependencies and such.

Also, from where would it download sources? What will happen to existing patches & changelog?

[2020-02-27 08:23] lachmanfrantisek commented on #136
- We are trying to simplify the config as much as possible. In the most optimistic scenario, you can have it empty and we would like to make the no-config scenario possible.
- I agree that it does not scale.
- Let's reopen and move this to the packit-service repo.

[2020-02-27 17:16] jpopelka commented on #721
Not until someone requests it since I don't see a use-case.

Do you mean combined workflow or my suggestion to remove existing patches?

Yes, we should definitely warn when we are removing them.

[2020-02-28 09:08] lachmanfrantisek commented on #721
Sorry, the combined-workflow...

[2020-03-02 09:03] jpopelka opened #739 "parsing .prospector.yml as a spec file"
In https://github.com/rebase-helper/rebase-helper/pull/785
when I removed `specfile_path: rebase-helper.spec` from [.packit.yml](https://github.com/rebase-helper/rebase-helper/blob/master/.packit.yml) I got:
[code]
which sounds like packit service tried to parse [.prospector.yml](https://github.com/rebase-helper/rebase-helper/blob/master/.prospector.yml) instead of [rebase-helper.spec](https://git

[2020-03-02 10:04] dmach opened #738 "Replace "Development snapshot (<hash>)" changelog with actual commit messages"
packit currently provides following changelog message: Development snapshot (<hash>)

It would be nice to replace it with an actual changelog, something like:
[code]
where commit_count is the number of commits from the last tag - parsed from `git describe --tags`

When building from the tagged commit, you could either say 'New upstream release <version>' or provide all commit messages since the pr

[2020-03-02 11:15] dmach commented on #693
I have a bad feeling about packit touching the version.
The best practice is that downstream packaging (packit falls into this category) never touches version and uses the release fields for increasing the build numbers.

That's why I'd prefer:
Name: libmodulemd
Version: 2.8.3 (equal to upstream version)
Release: <original release number>.git.39.g7b928e6%{?dist} (+ eventually any additional detail

[2020-03-02 11:50] #739 closed

[2020-03-02 14:50] lbarcziova opened #741 "create_tarball_command needs change"
For `create_tarball_command` there is the following info in the docs:
[code]
After the past changes in the code, the tarball is by default created in the specfile dir:
`git archive -o "{specfile_dir}/{package_name}-{version}.tar.gz" --prefix "{package_name}-{version}/" HEAD` and `_sourcedir` in the rpmbuild command is set to the specfile dir . Therefore when users use custom `create_tarball_comman

[2020-03-02 21:49] sgallagher commented on #693
@dmach You've described almost the same solution I provided, except that your approach doesn't solve the specific problem of "squashed patches means the NEVRA goes backwards". That's why the build time needs to be ahead of the `git.39.<hash>` portion.

[2020-03-03 07:18] lachmanfrantisek opened #742 "Reverse dependency testing for packit-service"
Run packit-service tests for gating (?) pipeline.

- Ideally, setup required repositories in zuul so we can test related PRs from packit and packit-service together.

[2020-03-03 09:58] TomasTomecek commented on #742
if we set this up using the zuul-native way (dependant repositories, or w/e it's called), we can also finally start tying PRs together which should make development so much easier

[2020-03-03 11:00] TomasTomecek commented on #738
Neat, sounds like a much better default behaviour.

we could also find the last tag in the branch and then just `{tag}..HEAD`

[2020-03-03 11:00] lachmanfrantisek commented on #742
That's what I meant with `required repositories`...;)

[2020-03-03 11:02] TomasTomecek commented on #586
not stale and this is easy to implement TBH

[2020-03-04 13:41] TomasTomecek opened #744 "Merge Schema and Config objects into one"
We have two, very similar objects which I think should be merged:
* Config
* and corresponding Schema object

Is it possible? Can we merge them together while retaining the Config API?

@sakalosj you may have an idea here

[2020-03-04 13:44] TomasTomecek commented on #741
Oh no, tarballs, again.

First, we shouldn't break backward compatibility - did we do that?

I'd definitely update the docs as you suggest.

[2020-03-04 14:17] sakalosj commented on #744
Marshmallow is de/serialization framework and our Config is required object. So i dont think is possible to merge this 2 parts.

from [docu](https://marshmallow.readthedocs.io/en/stable/):

[code]

from my point of view can be improved on current implementation, is to move all logic from class methods to schema.

e.g.

https://github.com/packit-service/packit/blob/ee02ce960cb6ef42b6cdf30504ac1e7ff

[2020-03-04 15:26] lachmanfrantisek commented on #741
Probably yes. (We place the tarball into a different directory than before.)

[2020-03-04 18:27] dhodovsk opened #747 "fedpkg-stage is not used"
We need a way from [packit-service](https://github.com/packit-service/packit-service) to let fedpkg class know which binary to use based on deployment type. right now it is only `fedpkg` - the parameter is not used.

https://github.com/packit-service/packit/blob/ee02ce960cb6ef42b6cdf30504ac1e7ff2edb56e/packit/fedpkg.py#L44-L48

Note:
If you feel this solution would be OK for you, let me know but I

[2020-03-04 21:51] lbarcziova commented on #741
I found it here https://sentry.io/share/issue/cc6d9144f3064bc3a70839191d1ff2c9/

[2020-03-05 14:05] TomasTomecek commented on #729
So what's the status here, what do we need to do on the packit side?

[2020-03-05 15:19] TomasTomecek commented on #741
can you please also try to fix their problem?

[2020-03-05 15:20] TomasTomecek commented on #747
I vote for config property.

[2020-03-05 15:54] TomasTomecek commented on #693
I'd say this is not that hard to do on packit's side. I'm gonna give it a shot.

[2020-03-05 16:23] jpopelka commented on #747
And I vote for `DEPLOYMENT` env var.
It's the easiest one and I don't see a reason for anything more complicated since we'll be (if ever) the only one using this.

[2020-03-05 16:58] TomasTomecek commented on #693
@sgallagher

0.%{current_time}...

The zero is static right? It's the "basic release number" - we probably don't want to start with the current time number since it's too big. Is that correct?

[2020-03-06 07:54] jkonecny12 commented on #729
It would be great for our team but I'm still waiting on reaction from @vojtechtrefny , @m-blaha if they would be interested in this. Not sure about others.

We want to create something which would automate our pot file creation so or so. The only question is if Packit will be the tool here. However, maybe we can take this in a more general way. I mean I could try to use Packit as a testing farm fo

[2020-03-06 08:37] lachmanfrantisek commented on #741
But what is the fix?
- Revert to the old behaviour? (That isn't probably what we want.)
- Do we want to use a symlink as we do for actions? (Than we need to find the created archive, but we cannot use any info from the output.)

[2020-03-06 09:42] csomh commented on #88
Suggestion: call it `check-config` to be **very** explicit :)

[2020-03-06 09:50] csomh opened #749 "Don't warn about deprecated authentication config keys if they are not present"
[`load_authentication()`] will emit a warning in case the `authentication` config key is missing from the configuration dictionary. This warning though can be confusing, if the user doesn't have *any* authentication configured.

How about emitting this warning only if any of the authentication related configuration keys marked as deprecated is present in the configuration dictionary?

[`load_authe

[2020-03-06 10:10] sentry-io[bot] opened #750 "Cannot parse package config. __init__() missing 1 required positional argument: 'pull_request'."
Sentry Issue: [RED-HAT-0P-2AR](https://sentry.io/organizations/red-hat-0p/issues/1548736922/?referrer=github_integration)

[code]

----

Caused by this PR: https://github.com/packit-service/packit/pull/743

[2020-03-06 12:54] TomasTomecek commented on #750
this is not an issue in packit itself, I used wrong key in the yaml, it's my fault, hence closing

[2020-03-06 12:54] #750 closed

[2020-03-06 12:55] TomasTomecek commented on #749
nice!! that would be such a great improvement

[2020-03-06 12:57] TomasTomecek commented on #88
I prefer `validate-config` more, or even `packit validate config`

[2020-03-06 12:58] TomasTomecek commented on #741
Any update here?

Did we indeed break some projects with the change? Which projects? Can we get a list?

[2020-03-06 13:08] TomasTomecek commented on #729
Sorry, had to read the OP again to understand what is going on here.

The biggest problem w/ using packit service for such a thing is that you need a GitHub API token to create a PR and there is no interface to provide your token to p-s. You could potentially use ours, but we would need to write code to support this workflow (which is very specific to the use case) - Franta alredy laid out the tas

[2020-03-06 13:08] #729 closed

[2020-03-06 13:11] TomasTomecek commented on #747
@Zlopez could use it as well

[2020-03-06 13:17] TomasTomecek commented on #744
My main point here is that when I added the notification key into the config I had to write the pretty much same code twice: https://github.com/packit-service/packit/pull/743/files

Yes, marshmallow is a (de)serialization toolkit but the classes are defined by us and we can do w/e we want with them - hence I suggest to merge the respective classes into one, while retaining the config API. I think

[2020-03-06 13:20] jpopelka commented on #747
I'm sure he's able to set env var as well ;-)
Ok, jokes aside, I mean adding some additional option into the config just for this rare use-case makes IMHO more noise than use.

I think we need more votes ... @lachmanfrantisek @csomh

[2020-03-06 13:33] csomh commented on #747
As @dhodovsk said it above, `DEPLOYMENT` doesn't have a strong position in `packit`, and that completely makes sense: Packit is not deployed, but installed. Or put otherwise `DEPLOYMENT` makes sense in the context of Packit Service, but not in packit.

Having `fedpkg_exec` as a config value, with a sane default makes more sense to me. This would be similar how archive and editor tools are configur

[2020-03-06 13:38] lbarcziova commented on #741
Yes, I will try to fix it. I have found just this one yet.

[2020-03-06 13:41] lachmanfrantisek commented on #750
Aha, ok... Do we want to have those messages in sentry? (=Do we need to handle those error in a better way?)

[2020-03-06 13:47] lachmanfrantisek commented on #747
- I agree with Hunor, that using `DEPLOYMENT` in packit does not make sense and is confusing.
- Is there any user who wants this option in packit-CLI?
- What about forwarding that info as an argument to the packit/api.py method? (And have the deployment logic in p-s code.)
  - Or/and the config value. (Maybe more work but makes more logic to me.)

[2020-03-06 14:42] TomasTomecek commented on #693
This is now getting to be really complicated: I agree to use release for tracibility. But it means this is solved on the RPM-level and not on the upstream level (or ecosystem-specific packaging level).

Example: we are using setuptools scm for packit which uses git describe style of versions. Hence our tarballs are expected to use git-describe style of naming - should this be reflected in the spec

[2020-03-06 15:43] shreyaspapi commented on #749
Hey @csomh can I try working on this?

[2020-03-06 16:07] sgallagher commented on #693
Right, the purpose there is to ensure a "real" release sorts higher.

[2020-03-06 16:09] jpopelka opened #751 "Marshmallow 3.x"
The road to Marshmallow has been bumpy:
- #620 (merged but reverted in #632) - initial implementation of v3
- #633 (closed) - another v3 [where we realized we actually need v2 as well](https://github.com/packit-service/packit/pull/633#issuecomment-564498659)
- #635 (closed) - initial v2 implementation
- #657 (merged) - final v2 only implementation

We have v2 only support now as that's the version

[2020-03-06 16:25] TomasTomecek commented on #749
@shreyaspapi go for it!

[2020-03-06 17:34] shreyaspapi commented on #749
@lachmanfrantisek  Can you please help me with the contents of raw_dict, As you said - (_configuration keys marked as deprecated is present_). Is there any way to check if they are deprecated or it will already be there in the dictionary.

[2020-03-06 17:50] jkonecny12 commented on #729
OK, thanks for your explanation. I'll look on GitHub actions.

[2020-03-09 07:45] lbarcziova commented on #741
OK, so this happened just in Dominika's fork [https://github.com/dhodovsk/convert2rhel/pull/1] so we did not break any project for real.

[2020-03-09 08:35] csomh commented on #749
Hey @shreyaspapi,

Ideally this would be documented in the [configuration docs](https://packit.dev/docs/configuration/#values), but that one only mentions two of the keys: `github_token` and `pagure_user_token`.

If you look at [the code](https://github.com/packit-service/packit/blob/9460328bb0df25561fe1f20f2618c74ac44b43a4/packit/config/config.py#L136) though, there are many more keys used in the

[2020-03-09 09:11] shreyaspapi commented on #749
@csomh So anything other than 'authentication' in [raw_dict](https://github.com/packit-service/packit/blob/9460328bb0df25561fe1f20f2618c74ac44b43a4/packit/config/config.py#L132) is considered to be deprecated. By only checking if the raw_dict is empty will solve the issue.

I think the docs are referring it correctly - 'github_token' and 'pagure_user_token' and as a whole. But yes, I can update th

[2020-03-09 09:33] csomh commented on #749
Why would all the keys from `raw_dict` be deprecated? The else branch uses only 6 keys, but packit configuration has many more top-level config keys, as you can see in [the docs](https://packit.dev/docs/configuration/#user-configuration-file). The user config has `debug` and `fas_user`, and more might be come in the future.

For this reason those 6 keys should be explicitly checked.

[2020-03-09 09:34] shreyaspapi commented on #701
We can close the issue as the pull request is merged right?

[2020-03-09 09:36] shreyaspapi commented on #749
@csomh  Oh got it.

[2020-03-09 09:40] csomh commented on #701
@shreyaspapi using `Fixes #701` in your PR message could have [closed this automatically](https://help.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword).

[2020-03-09 09:40] #701 closed

[2020-03-09 10:01] TomasTomecek commented on #751
This. Let our code handle both versions, it's gonna be rough to implement probably but will make things smooth.

Also the problem right now is that we can't build/use packit in rawhide & f32 which sucks badly.

[2020-03-09 10:03] TomasTomecek commented on #747
so how about a different env var then? `PACKIT_FEDPKG_BINARY_YOLO_FOOBAR`? okay, `PACKIT_FEDPKG_BINARY` for real

[2020-03-09 10:04] TomasTomecek commented on #741
nice! can we close then since our docs is now up to date?

[2020-03-09 10:06] csomh commented on #747
Introducing env vars for this would make sense if we expect users to have the need to change `fedpkg_exec` on a regular basis. In this case the env var would serve as a shortcut to avoid the need to change the config all the time.

Otherwise a new config value would be enough.

[2020-03-09 10:06] jpopelka commented on #747
What? Why would new/another var be better than the one we're already using in p-s?
Anyway, I'm fine with the config option, so we can I think scratch the env var idea.

[2020-03-09 10:33] lbarcziova commented on #741
Yes

[2020-03-09 10:33] #741 closed

[2020-03-09 13:58] jpopelka commented on #665
Closing, from what I remember it was caused by https://github.com/user-cont/release-bot/issues/253

[2020-03-09 13:58] #665 closed

[2020-03-09 13:58] jpopelka opened #756 "[naming] propose_downstream vs. propose-update"
Can someone explain to me why the config job is called [propose_downstream](https://github.com/packit-service/packit/blob/master/packit/config/job_config.py#L34) while the cli command is called [propose-update](https://github.com/packit-service/packit/blob/master/packit/cli/update.py#L40)?

(FWIW packit-service command is called [propose-update](https://github.com/packit-service/packit-service/blo

[2020-03-09 15:04] dhodovsk commented on #747
The config should also affect the dist-git base value:

https://github.com/packit-service/packit/blob/8bbe9e88bcdca6c592df013ac742a61c8f7500ef/packit/config/package_config.py#L96

[2020-03-09 15:19] lachmanfrantisek commented on #756
It would be nice to unify them (and deprecate the old ones).

Some historical notes:
- The first name was `propose-update` in the CLI which should be better understood by Fedora-maintainers.
- When designing the service job, we thought about that more but didn't want to break the CLI.

[2020-03-09 18:47] TomasTomecek commented on #756
why not?

[2020-03-10 08:05] jpopelka commented on #756
Can you be even less descriptive Tomas?

[2020-03-10 08:18] TomasTomecek commented on #756
Franta explained it very well and I agree we should unify the both names, so... let's do it!

[2020-03-10 08:32] TomasTomecek commented on #747
Controlling one specific value vs. controlling behaviour of the whole service.

[2020-03-10 09:08] #693 closed

[2020-03-11 08:54] TomasTomecek opened #761 "packit versioning schema: include PR ID"
@pirat89 told me yesterday that we should pimp our versioning model even further by including PR ID in it: https://github.com/oamg/leapp-guidelines/blob/master/build-schema.md

[code]

With such a change, if the project builds everything in a single copr repo, you can then install a specific PR easily:
[code]

neat! :beer:

The way to implement this is probably let the run_copr_build API method ac

[2020-03-11 15:27] TomasTomecek commented on #750
short term: yes, we can help people when they do this, long term: no, and move it to dashboard

on the other hand, the error message could be nicer here

[2020-03-11 15:34] #647 closed

[2020-03-12 11:29] TomasTomecek commented on #662
is this still an issue?

[2020-03-12 12:38] #623 closed

[2020-03-13 13:11] grapheo12 commented on #761
May I look into this?

[2020-03-13 15:24] #742 closed

[2020-03-14 07:21] martinpitt commented on #427
*bump*

[2020-03-14 20:23] GrtSid opened #762 "Update docs to tell how to run Packit on other distros"
I tried setting up pakckit using the command:
pip3 install --user packitos

I am getting error:
Collecting rpm-py-installer
  Using cached https://files.pythonhosted.org/packages/5d/c6/7be50a13948a744976cf8f5eca31deb7e73138101e142a6177132d05c21e/rpm-py-installer-1.0.0.tar.gz
    Complete output from command python setup.py egg_info:
    running egg_info
    creating pip-egg-info/rpm_py_installer.e

[2020-03-16 07:49] lachmanfrantisek commented on #762
Thanks for the report.

You need to have `rpm` installed in your system -- it's a tool for manipulating with the packages on RPM-base distributions like Fedora, Centos, RHEL, ... I am not sure if it can be installed on other distributions, but you can try installing that. (You can also try installing `yum` or `dnf` that are built on top of it. Some people use it for installing packages to custom d

[2020-03-16 08:40] TomasTomecek commented on #762
+1 for a container

docker.io/usercont/packit

[2020-03-16 17:23] TomasTomecek commented on #761
yup, feel free to

[2020-03-17 19:25] TomasTomecek commented on #427
Our plan here was to "outsource" this task to GSoC or RHOSC but afaik we did not pull it off :/

completely agree this would be really useful to have in packit by default

[2020-03-20 09:15] #686 closed

[2020-03-20 17:12] shreyaspapi commented on #749
Fixes #754

[2020-03-21 06:47] jpopelka commented on #749
Fixed with #754

[2020-03-21 06:47] #749 closed

[2020-03-23 09:25] jpopelka commented on #721
[dist-git-to-source-git/dist2src does that](https://github.com/packit-service/dist-git-to-source-git/blob/master/dist2src.py#L210) so let's expect the spec in source-git repo already has the `Patch`es removed/commented out.

[2020-03-23 09:25] #721 closed

[2020-03-23 17:06] jpopelka opened #767 "'No commit found for the ref master'"
https://sentry.io/organizations/red-hat-0p/issues/1563633370

Caused by https://github.com/packit-service-testing-organisation/source-git-initscripts/pull/1 (upstream has no `master` branch)

[code]

[2020-03-24 15:01] #767 closed

[2020-03-25 10:50] jpopelka opened #770 "New minor release"

[2020-03-25 10:51] #770 closed

[2020-03-25 14:57] packit-as-a-service[bot] opened #772 "[packit] Propose update failed for release 0.9.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f30` | `The distgit repository /tmp/packit-dist-git8b3le8ce is dirty.This is not supported.` |
| `f31` | `Failed to download file from URL https://files.pythonhosted.org/packages/source/p/packitos/packitos-0.9.0.tar.gz. Reason: 'Not Found'. ` |
| `f32` | `The distgit repository /tmp/pac

[2020-03-25 15:03] jpopelka commented on #772
/packit propose-update

[2020-03-25 15:05] #772 closed

[2020-03-25 16:04] jpopelka opened #773 "Fedora CI failed on build dependencies"
Not sure whether it's a flake or real issue, but when [updating packit in Fedora](https://src.fedoraproject.org/rpms/packit/pull-request/50) some integration tests in Fedora CI [failed](https://jenkins-continuous-infra.apps.ci.centos.org/blue/rest/organizations/jenkins/pipelines/fedora-f31-pr-pipeline/runs/159/nodes/225/steps/252/log/?start=0) on:
[code]

I'm considering this a flake for now, but

[2020-03-25 16:23] lachmanfrantisek commented on #773
I got those errors as well yesterday. Adding it to `files/install-deps-worker.yaml` and `files/install-deps.yaml` helped me, but I have some problems with DNS in that time so it's maybe a snow-flake.

[2020-03-25 16:51] jpopelka commented on #675
I did `packit create-update --dist-git-branch f30 --koji-build packit-0.9.0-1.fc30` from upstream repo now and still got the error. (the update was created though)

[2020-03-25 17:13] TomasTomecek commented on #773
we just need to install them in CI, right?

[2020-03-26 10:33] StykMartin opened #774 "Add support for COPR external repositories"
Accordingly to COPR external repositories allows the following:
[code]
This is great for projects that need to build more (custom) packages and having them in the same chroot.

Related to #789.

[2020-03-26 10:40] TomasTomecek commented on #774
We should be able to add this to the copr job definition and pass it to copr when we create the projects. Would that work for you?

[2020-03-26 10:41] StykMartin commented on #774
**Yes**. It is completely the same thing as when you are chroot(s) for the project.

[2020-03-26 10:57] StykMartin commented on #774
This piece also seems to be interesting.

https://pagure.io/copr/copr/blob/master/f/python/copr/v3/proxies/project_chroot.py#_48

[code]

[2020-03-26 16:03] ffoto1620 commented on #706
Does the linked PR solve this issue?

[2020-03-26 16:14] ffoto1620 commented on #738
This seems like an interesting issue. Can I be assigned to this?

[2020-03-26 16:34] sgallagher commented on #706
@ffoto1620 No, it is a stop-gap measure that just updates the aliases to the current stable releases.

[2020-03-26 20:26] ffoto1620 commented on #738
How can I reproduce this issue and what code is responsible for generating the changelog.

[2020-03-27 07:22] lachmanfrantisek commented on #738
- It is the one step during the `srpm` built where we add a new entry to the specfile's changelog. => You can run e.g. `packit srpm https://github.com/packit-service/ogr` (Or in the cloned repository without argument.)

- Here is a relevant function:
https://github.com/packit-service/packit/blob/fb817f4cd190363ccb0b7c9b882b5aefbcafe821/packit/upstream.py#L479

[2020-03-27 07:35] lachmanfrantisek commented on #706
@ffoto1620 that was a manual update. We need to calculate the version for aliases automatically. (See [my comment](https://github.com/packit-service/packit/issues/706#issuecomment-590725954) above.)

@onlywicked Do you work on this? So anyone else can pick the issue...

[2020-03-27 13:34] jpopelka commented on #662
packit-service/ogr#318 has been fixed.

@dhodovsk can this be closed? If so, please do. Thanks

[2020-03-27 13:41] jpopelka commented on #689
We think this has been fixed in the linked PR. Closing.

[2020-03-27 16:30] jpopelka commented on #675
https://github.com/fedora-infra/bodhi/issues/3974

[2020-03-27 19:18] ffoto1620 commented on #738
Thanks for your response @lachmanfrantisek . I have seen the piece of code that seems to be responsible for that but however I don't think I'm able to reproduce this yet. I've done the following

`git clone https://github.com/packit-service/ogr.git`
`packit srpm`

I checked CHANGELOG.md and there was no entry "Development Snapshot <hash>". Here's my changelog file

[code]

[2020-03-28 08:21] onlywicked commented on #706
@lachmanfrantisek Yes, I m working it.
But the situation is little messy here. Hope you can understand.

[2020-03-30 06:31] lachmanfrantisek commented on #398
At least the documentation for tito users is still missing.

[2020-03-30 06:34] lachmanfrantisek commented on #706
OK, I was just checking if we need/can assign someone else.

[2020-03-30 07:34] lachmanfrantisek commented on #738
OK.. there are two changelogs..;)

- `CHANGELOG.md` is our upstream changelog
- specfile (`python-ogr.spec`) contains a changelog at the end of the file and this is what packit changes and we care here about.

[2020-03-30 07:41] dhodovsk commented on #662
It works:
[code]

[2020-03-30 07:41] #662 closed

[2020-03-30 09:08] TomasTomecek opened #777 "propose-update fails when spec does not exist downstream"
[code]

I have a src-git repo and am running it on a new downstream dist-git repo - it's empty.

[2020-03-30 09:27] lachmanfrantisek commented on #777
Probably related to this: https://github.com/packit-service/packit/issues/354

[2020-03-31 08:32] TomasTomecek commented on #681
Related: https://github.com/packit-service/packit/issues/371

[2020-03-31 08:35] jpopelka commented on #681
Closing as duplicate of #371

[2020-03-31 08:35] #681 closed

[2020-03-31 08:35] jpopelka commented on #371
Related #681

[2020-03-31 10:47] sakalosj commented on #744
@TomasTomecek
sorry for late reply, will check in next days if it is ok like this.

I recognized some weaknesses in code and wanted to ask if it shouldn't be addressed first:

1. inheritance ServiceConfig(Config). Its making code less readable, tight coupled and harder to test. I don't see reason for this.

2. get config method. This is breaking single responsibility rule hard. Config class should

[2020-03-31 11:51] #777 closed

[2020-03-31 14:08] TomasTomecek commented on #708
interesting: it was literally a bug that rebase-helper did not commit the Source change to disk - so the old one was kept

[2020-04-01 07:01] TomasTomecek commented on #744
@sakalosj yup, good points

@jpopelka you're touching the code now, what are your thoughts here?

[2020-04-01 09:17] TomasTomecek commented on #708
So my PR should fix this:
[code]
[code]

[2020-04-01 10:52] jpopelka commented on #744
I'll take a look at the points raised here once I'm done with #751

[2020-04-01 11:30] #708 closed

[2020-04-02 06:20] onlywicked commented on #706
You can assign it to someone else if you want as I am not applying for GSOC.

[2020-04-02 06:29] lachmanfrantisek commented on #706
@onlywicked you are already assigned..;-)

[2020-04-02 06:31] onlywicked commented on #706
Okay.

[2020-04-06 08:11] dhodovsk opened #782 "Use F32 as our base for container images"
Placeholder for issues that might have been caught during schema validation:

 - https://sentry.io/share/issue/e89225dafc4f401dbda7c9ec841c9f42/

[2020-04-06 08:13] TomasTomecek opened #783 "when action fails, output from the command is not printed"
I had to rerun with --debug to see the output

[code]

[2020-04-06 10:20] jpopelka commented on #782
Actually, `dist-git-branch` is the only key using dashes instead of underscores, so I understand it was tempting to put `dist_git_branch` there. I think we should rename `dist-git-branch` to `dist_git_branch` and make `dist-git-branch` deprecated. And yes, we should validate to job metadata as well (we don't do currently).

[2020-04-06 13:31] TomasTomecek opened #784 "pre-commit/prettier fails to install today"
[code]

[code]

[2020-04-06 13:40] TomasTomecek commented on #784
I was very curious what URL misbehaves...

...and the winner is...

[code]

So the nodejs (OH MY, WE ARE USING NODEJS IN PRE-COMMIT?!) endpoint is giving us those errors. Let's hope they fix it soon.

[2020-04-07 07:02] TomasTomecek commented on #784
Tuesday is better than Monday, got a successful build today: https://softwarefactory-project.io/zuul/t/local/status/change/766,79b545bbe0db57703c729b41e3b18ae8fac3ed98

[2020-04-07 07:14] TomasTomecek commented on #784
2 jobs passed, closing

[2020-04-07 07:14] #784 closed

[2020-04-08 09:45] jpopelka commented on #782
Marshmallow v3 does this ([raise `ValidationError` when there's an unknow key](https://marshmallow.readthedocs.io/en/stable/upgrading.html#schemas-raise-validationerror-when-deserializing-data-with-unknown-keys)) by default, but I haven't found a way how to do this in v2.
[v2 also has a strict mode](https://marshmallow.readthedocs.io/en/2.x-line/quickstart.html#strict-mode), but it means something

[2020-04-09 11:43] csomh commented on #762
For this we should update our documentation an include instruction for how to run Packit on other distros.

[2020-04-09 11:47] TomasTomecek commented on #761
@grapheo12 still interested in this?

[2020-04-09 12:08] csomh opened #789 "Allow users to define chain of builds ending in same chroot"
From @StykMartin, split from #774.

*It is complete speculation. Not sure if COPR is capable of doing this.*

But basically the idea is to refer additional projects as dependencies for the final/project build.
This means all dependencies are built first, included in the same chroot as the final build will run.
With this approach, we can discard the first idea (#774), however, it would be nice to h

[2020-04-10 12:01] jpopelka opened #790 "new minor release"

[2020-04-11 17:57] dgkncelik commented on #761
Can i work on this? #GSOC

[2020-04-14 06:06] TomasTomecek commented on #761
@dgkncelik yup, feel free to go for it, thanks!

[2020-04-14 07:24] packit-as-a-service[bot] opened #793 "[packit] Propose update failed for release 0.10.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `master` | `Failed to download file from URL https://files.pythonhosted.org/packages/source/p/packitos/packitos-0.10.0.tar.gz. Reason: 'Not Found'. ` |

You can re-trigger the update by adding `/packit propose-update` to the issue comment.

[2020-04-14 07:26] jpopelka commented on #793
/packit propose-update

[2020-04-14 09:01] jpopelka commented on #751
Fixed in #775

[2020-04-14 09:01] #751 closed

[2020-04-14 09:08] jpopelka opened #794 "subprocess.CalledProcessError: Command '['git', 'commit', '--allow-empty', '-m', 'empty commit #0']' returned non-zero exit status 128."
See for example:
- [Fedora CI log](https://jenkins-continuous-infra.apps.ci.centos.org/blue/rest/organizations/jenkins/pipelines/fedora-rawhide-pr-pipeline/runs/3160/nodes/226/steps/253/log/?start=0)
- [Testing Farm log](https://console-testing-farm.apps.ci.centos.org/pipeline/b007c856-b2a2-4371-8694-4ce4fe793cf7)

This was supposed to be fixed with #786
@csomh ideas?

[2020-04-14 09:18] csomh commented on #794
@jpopelka how do these environments look like? how are they set up? When are they recreated? I cannot really tell it from the logs. Would be nice to know if there is any `$HOME/.gitconfig` there.

[2020-04-14 09:39] jpopelka commented on #794
I don't have answers to those questions.

[2020-04-14 09:56] #793 closed

[2020-04-14 12:10] Zlopez commented on #689
I finally had some time to work on the-new-hotness again and tried to continue on the packit integration.

However I have some difficulty to retrieve the project using `packit.config.get_project`. I'm getting this error:
[code]

To make the debugging of this issue easier I created a small reproducer (just fill your username and token):
[code]

[2020-04-14 13:04] lachmanfrantisek commented on #689
There is a problem in the mapping of URLs to services. Probably only for the stage -- we can update code in [ogr](https://github.com/packit-service/ogr):

https://github.com/packit-service/ogr/blob/cddce51904617c18565effa1d1955f69486ba745/ogr/services/pagure/service.py#L39-L41

Or, update the mapping in packit.

I'll take a look.

[2020-04-14 14:43] bocekm commented on #761
Do you have the current versioning schema documented somewhere? Our QEs are creating regexps based on that, and I believe they'd love to track changes to the schema.
CCing @AloisMahdal.

[2020-04-14 21:54] TomasTomecek commented on #761
We don't have it documented, here's the code: https://github.com/packit-service/packit/blob/master/packit/upstream.py#L409

Definitely worth documenting though.

[2020-04-15 06:49] lachmanfrantisek opened #795 "Missing `branch` attribute of `JobMetadataConfig`"
For `commit` (=branch push) trigger, we need to specify `branch` option in the metadata.

(There is only `dist_git_branch` for now.)

[2020-04-15 09:15] TomasJani commented on #88
I would like to work on this if possible (as part of RHOSC).

[2020-04-15 09:19] TomasTomecek commented on #88
@TomasJani please let us know if we can assist you in any way

[2020-04-15 11:27] #795 closed

[2020-04-15 13:44] jpopelka opened #799 "Utilize tmp_path instead of tmpdir"
In many tests we use [tmpdir fixture](https://docs.pytest.org/en/latest/tmpdir.html#the-tmpdir-fixture), which returns a [py.path.local](https://py.readthedocs.io/en/latest/path.html) object, which we cast to [pathlib.Path](https://docs.python.org/3/library/pathlib.html#pathlib.Path) before using.

[code]

There's also newer [tmp_path fixture](https://docs.pytest.org/en/latest/tmpdir.html) which g

[2020-04-15 14:56] jpopelka opened #801 "Add __repr__() to all classes for easier debugging"
The following don't help me much when I'm trying to debug broken tests:
- `<packit.api.PackitAPI object at 0x7fa7f1eada10>`
- `<packit.upstream.Upstream object at 0x7fa7f1ea7710>`

[2020-04-16 04:28] jpopelka opened #803 "Split/rename utils.py"
https://breadcrumbscollector.tech/stop-naming-your-python-modules-utils

I see functions & classes for
- logging
- running commands
- getting info about a git repo

[2020-04-16 05:17] TomasTomecek commented on #803
Just that someone writes a blog post it doesn't mean it's true and we are obliged to follow.

Please show us how would you expect this to be implemented.

The way utils module work for me is that it's a collection of assorted, self-contained function which **do not import** from other modules of the project (except for constants) so that you won't get circular dependency problems via utils.

[2020-04-16 06:36] TomasTomecek commented on #801
just look at the address in memory and see what's in there - don't know what's such a big deal

</sarcasm>

[2020-04-16 06:51] lachmanfrantisek commented on #803
`utils` are usually an easy way to:
- not need to think about the place where to put any helper-function
- avoid import cycles

I agree with Jirka that it makes sense to split that functionality to multiple logical units. So it's clear where you can find/place specific code. (Or have multiple submodules like `utils.git`.)

[2020-04-16 06:54] lachmanfrantisek commented on #803
This comment is good as well and applies to naming I introduced..;(

[2020-04-16 07:23] jpopelka commented on #803
I thought I already did in the description, i.e. roughly something like `logging.py`, `commands.py`, `repo.py`

[2020-04-16 07:26] jpopelka commented on #801
Sorry for a newbie question, but how do I do I run debugger in `make check_in_container` ?

[2020-04-16 09:47] TomasTomecek commented on #801
you need to add `-s` as an option for pytest in `make check` and then just place the breakpoint in the code somwhere: `import ipdb; ipdb.set_trace()`

I want to blog about this for quite some time and it seems it's finally time to do it.

[2020-04-16 09:49] jpopelka commented on #801
A blog post would be lovely, thanks in advance!

[2020-04-16 09:53] csomh commented on #801
With Python 3.7 you can use the [`breakpoint()` builtin](https://docs.python.org/3/library/functions.html#breakpoint).

[2020-04-16 10:52] jpopelka opened #804 "New patch release"

[2020-04-16 11:55] packit-as-a-service[bot] opened #806 "[packit] Propose update failed for release 0.10.1"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `master` | `Failed to download file from URL https://files.pythonhosted.org/packages/source/p/packitos/packitos-0.10.1.tar.gz. Reason: 'Not Found'. ` |

You can re-trigger the update by adding `/packit propose-update` to the issue comment.

[2020-04-16 12:09] jpopelka commented on #806
This needs  #548 to be deployed into production first, closing.

[2020-04-16 15:50] bocekm opened #808 "[RFE] Add new copr_build trigger for merged PRs"
For the copr_build job, there are currently two supported triggers - pull_request and release.
I'd like packit to create a new build in copr also upon merging a PR to the default repository branch.

That way, in association with the https://github.com/packit-service/packit/issues/761, the copr repo would be the place to look for the latest master branch builds.

We have it like that in Leapp: http

[2020-04-16 15:55] bocekm commented on #761
If the packit team agrees with https://github.com/packit-service/packit/issues/808, then the versioning shema should include:
`<name>-<version>-1.<timestamp>.<short-hash>.<branch>`
for copr builds from the master branch. Note the '1' which is important - thanks to that, whoever add the copr repo to their system and runs `dnf install <pkg>`, the latest master build gets installed. Not the latest PR

[2020-04-17 06:52] lachmanfrantisek commented on #808
It's already implemented..;)

But there are two missing parts:
- We haven't enabled the listening to those events in the settings of the GitHub application yet -- everyone will get an email when we change that. (Just a tick in the settings.)
- It is not documented.

It should be finished in the next two weeks.

More information is in this issue: https://github.com/packit-service/packit-service/iss

[2020-04-17 06:52] #808 closed

[2020-04-17 07:22] lachmanfrantisek commented on #761
The #808 is nearly done, but the versioning schema should be updated.

[2020-04-17 15:15] bocekm commented on #808
Awesome, thanks.

[2020-04-17 16:28] #794 closed

[2020-04-20 06:43] TomasTomecek commented on #761
@bocekm you are in control of the release prefix, so you can set it to whatever you want

I agree it sounds like a good practice to distinguish the builds like that

[2020-04-20 07:36] pirat89 commented on #761
I just add, that we have started to use :100: (finally I could use the picture!! :D) for master instead of 1, to have higher devel release than downstream, which is common to create more builds for specific version.

@TomasTomecek

great :-)

[2020-04-20 13:24] lachmanfrantisek commented on #719
@dhodovsk should look into that this sprint...

[2020-04-21 15:56] bocekm commented on #761
Good to know that we can tweak the release to our liking. However, since you've agreed on the versioning shema in this issue, we'll just wait for it to be implemented. We're not in a hurry :)

[2020-04-22 06:48] TomasTomecek commented on #761
@dgkncelik any luck with this?

[2020-04-22 07:03] dgkncelik commented on #761
@TomasTomecek i install environment on local and im reading the source code to understand the arhitcture. Could you give couple more days?

[2020-04-22 14:38] #806 closed

[2020-04-23 11:44] lachmanfrantisek commented on #803
Let's refactor as Jirka suggested.

[2020-04-23 12:16] TomasTomecek opened #815 "generation of man pages via click fails in rawhide"
[code]

it seems that click man and setuptools are not compatible in rawhide

[2020-04-26 20:31] dgkncelik commented on #761
I created a pull request (#816 ) to ask if i am on correct path or not

[2020-04-27 09:08] jpopelka commented on #815
Not only rawhide, it's all branches now - https://copr.fedorainfracloud.org/coprs/packit/packit-service-packit-817/build/1351456/

[2020-04-27 14:33] jpopelka commented on #815
https://bugzilla.redhat.com/show_bug.cgi?id=1828275

[2020-04-27 14:49] jpopelka commented on #815
How to reproduce/verify fix:
- `cd packit; packit local-build` - you should see the above error
- install `python-click-man-0.4.1` from https://bodhi.fedoraproject.org/updates/?packages=python-click-man
- `packit local-build` - should now work OK
- give karma to those Bodhi updates

[2020-04-30 06:43] #804 closed

[2020-04-30 09:52] packit-as-a-service[bot] opened #820 "[packit] Propose update failed for release 0.10.2"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f30` | `Failed to download file from URL https://files.pythonhosted.org/packages/source/p/packitos/packitos-0.10.2.tar.gz. Reason: 'Not Found'. ` |
| `f31` | `The distgit repository /tmp/packit-dist-git0ki1__jq is dirty.This is not supported.` |
| `f32` | `The distgit repository /tmp/pa

[2020-04-30 10:50] jpopelka commented on #820
We agreed in #819 that we won't do the Fedora update this time. Closing

[2020-04-30 10:50] #820 closed

[2020-05-06 10:07] TomasTomecek opened #822 "Configurable generation of patches"
Context:

* [Tomas trying to use packit for fedora-python/cpython](https://github.com/TomasTomecek/cpython/pull/1#discussion_r420660527)
* [fedora-devel thread](https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/message/QGGZ527DTT57TNY75EJYLORGN4WJUPOK/)
* [python3's spec and how patches are being applied](https://src.fedoraproject.org/rpms/python3/blob/43b44f18b4d36018c63

[2020-05-06 10:10] hroncok commented on #822
Note that bcond applied patches are generally considered bad practice. So our use case might not be wort fixing.

[2020-05-06 10:11] hroncok commented on #822
With certain amount of work, we could make the last remaining if-applied patch applicable at all times and do the ifing on runtime.

[2020-05-06 10:12] TomasTomecek opened #823 "smarter upstream_ref"
[Miro had a good point](https://github.com/TomasTomecek/cpython/pull/1#discussion_r420670368) that we could be smarter with detecting upstream_ref

packit could pick latest git tag matching a certain pattern

[2020-05-06 10:15] TomasTomecek commented on #822
That's what I thought to be honest :D

I personally still see value in implementing this since we would give full control to the maintainers/users to do whatever they want - I'm pretty sure there are even more special use cases out there (which we encounter sooner or later).

[2020-05-06 10:18] hroncok commented on #822
https://github.com/fedora-python/cpython/issues/9

[2020-05-07 14:16] bocekm opened #825 "Members of a GH organization with write access can't use packit"
@fellipeh has created this PR https://github.com/oamg/convert2rhel/pull/39 but packit says `Only users with write or admin permissions to the repository can trigger Packit-as-a-Service` even though he has the write access to the repository.

You can see on the following screenshot that 21 members (of the [oamg organization](https://github.com/oamg)) has the write access:
![Screenshot from 2020-05-

[2020-05-07 16:12] csomh commented on #825
Thanks @bocekm for filing this. Here is what I've found with some debugging.

Using Packit's GitHub credentials, I've created a `project` using ogr's [GithubProject](https://github.com/packit-service/ogr/blob/a21f36f42a339e04c8a5ef0dc8dbeb6d17b9ef07/ogr/services/github/project.py#L59) class. Packit Service currently is using an object like this to tell who can merge PRs in a project. Calling the s

[2020-05-07 19:48] bocekm commented on #825
Thanks for looking into that. The number 7 is really strange. There're 2 users I've invited manually to collaborate on the project (not members of the oamg group), and then those 21 members of the oamg org who all have write access to the project. So, I would expect the number to be 2, or 23. Not 7.

There's the workaround of adding Fellipe manually to the list of collaborators specifically invite

[2020-05-12 15:25] bocekm opened #827 "Downstream release proposal does not respect requested dist-git branches"
[The packit conf for convert2rhel](https://github.com/oamg/convert2rhel/blob/master/.packit.yaml) says that the dist-git branches to be used for downstream release are `el6` and `epel`:
[code]

Yet, after creating [a new upstream release](https://github.com/oamg/convert2rhel/releases/tag/v0.11), packit has created a downstream PR only for the `master` dist-git branch which is for Fedora Rawhide: h

[2020-05-12 19:20] dustymabe commented on #637
seems still relevant I believe

[2020-05-13 09:18] csomh commented on #827
We'll have to test this on our side to see what's wrong. I was not able to find the relevant logs for this event.

[2020-05-13 11:59] ernestask opened #828 "Trashed package name after propose-update"
https://src.fedoraproject.org/rpms/abrt-java-connector/c/8cd1f1ddf5674e5684eebd7c6168d69ec85f14fe?branch=master

We had to do some post-release spec fixing and a colleague used `packit propose-update` with `--no-pr --local-content --force-new-sources`. Packit (or rebase-helper?) somehow took the version and replaced part of the name with it.

[2020-05-13 13:40] lachmanfrantisek commented on #828
Looks weird. Thanks for letting us know. It's better to use pr mode so you can see/change/not-merge the changes.

Just to confirm, you have this repo: https://github.com/abrt/abrt-java-connector?

Do you know:
- On what commit did the command was used?
- What local-changes were used?

[2020-05-13 13:47] lachmanfrantisek commented on #637
@dustymabe Yes, still relevant. Sorry for the stale-bot.

We only had not time to work on this.

---

Marking as `EPIC` since it's a bigger task. And also, stale-bot will not comment here.

[2020-05-13 13:53] ernestask commented on #828
Yup, that is the repo. https://github.com/abrt/abrt-java-connector/commit/fdbb5129d51f805e0e3c2b6c7b9730798c646d86 is the commit (the current HEAD) that was used.

As far as I know, the checkout was clean and `--local-content` was only for that one commit past the release tag.

[2020-05-13 13:56] ernestask commented on #828
Re-tagging and dealing with PRs would have been smart, but we caught the accident, so… ¯\\_(ツ)\_/¯

[2020-05-13 15:00] lachmanfrantisek commented on #828
Thanks, I'll need to try that locally.

[2020-05-14 10:55] lachmanfrantisek commented on #828
Just tested locally:

- `packit srpm` works well for me
- I've tried also the sync (`packit propose-update --local-content`) and the result did not trash the name: https://src.fedoraproject.org/rpms/abrt-java-connector/pull-request/5#request_diff

Maybe an old version of the tool?

[code]

[2020-05-14 11:05] ernestask commented on #828
No, it was definitely the latest in F31 (0.10.1). Should have mentioned that initially.

Let me try as well real quick.

[2020-05-14 11:11] ernestask commented on #828
https://src.fedoraproject.org/rpms/abrt-java-connector/pull-request/6

I reverted all the changes in dist-git to make it reproducible. There aren’t any changes expected to be done there, so you can play around. I’ll just re-revert everything later.

[2020-05-15 07:34] carlwgeorge commented on #822
In situations where patches are applied conditionally, it's often because that is the best (or only) way to solve the problem at hand.  I think situations like this were a patch can be reworked to always be applied will be the exception, not the rule.  Some examples that immediately come to mind:

- debranding (i.e. removing Red Hat trademarks in CentOS)
- product specific features (e.g. RHEL subs

[2020-05-15 12:27] lachmanfrantisek commented on #828
Thanks! Reproduced:

[code]

[2020-05-15 13:32] lachmanfrantisek commented on #828
The problem is in the specfile sync:

https://github.com/packit-service/packit/blob/8833635fdfbc681a518f75b7a1a363785a319ee2/packit/base_git.py#L366-L370

When we copy content from the upstream specfile to the downstream one, the rebase-helper does not refresh the indices. And when the old and new specfile differ in the number of lines before version, it uses a bad line to save the version. (Savin

[2020-05-15 20:25] #828 closed

[2020-05-17 19:10] martinpitt commented on #427
*bump* :-)

[2020-05-18 05:45] lachmanfrantisek commented on #427
@martinpitt sorry for the stale-bot

[2020-05-18 05:46] lachmanfrantisek commented on #828
@ernestask thank you for your cooperation!

[2020-05-18 05:47] ernestask commented on #828
Thanks for the quick fix!

[2020-05-18 09:27] lachmanfrantisek commented on #571
Still relevant and still not a big prio.

[2020-05-18 10:58] mfocko commented on #803
I'll look into it.

[2020-05-18 18:12] jpopelka opened #831 "Duplicated code in PackitAPI.run_copr_build() & packit-service/copr_build.py"
With https://github.com/packit-service/packit-service/pull/547 we duplicate [PackitAPI.run_copr_build()](https://github.com/packit-service/packit/blob/master/packit/api.py#L639) content also in packit_service's [CoprBuildJobHelper.run_build()](https://github.com/packit-service/packit-service/blob/master/packit_service/worker/build/copr_build.py#L175).
[The reason is that the method in PackitAPI bu

[2020-05-19 11:21] csomh commented on #831
I think we discussed something similar during the arch-meetings, but that might have been about splitting the task in Packit Service to SRPM build and build.

In any case, I'm for looking into something like this.

This seems to be the cleanest option.

Could we have `PackitAPI.run_build(srpm_path)` and deprecate `run_copr_build()` sometime in the future? Is the build service configurable in Packi

[2020-05-19 11:49] lachmanfrantisek commented on #831
@jpopelka thank you for creating the issue.

@csomh Yes, we discussed during the arch-meetings if we want to have a separate task for srpm build.

My PR contains the first step -- excluding the SRPM build from the `packit.api.PackitAPI` calls. (By going to the lower level and not using the original methods.) We decided to start with this and see if we really need that. (It brings some more work wi

[2020-05-19 18:49] jpopelka commented on #831
My suggestion might be the cleanest, but this one's the easiest :-) +1

[2020-05-20 17:38] psss commented on #566
@lachmanfrantisek, so what is now the shortest way to enable custom archive? Something like this?

[code]

Or is it possible now to have only a single `create-archive` command? The following part of the documentation is not clear to me:

    If there are more steps, then one of them has to return the archive name.

Should it return the archive name as the last line? Or?

[2020-05-20 18:44] lachmanfrantisek commented on #566
@psss Your example looks good to me.

Yes, if it contains archive-name in the output.

We run the commands one-by-one and then go through the output in reverse order and for each line of the output (also in the reverse order), we check if it is an existing file. If yes, we accept that as a newly created archive. I know, it's a bit complicated but should work for most situations.

[2020-05-21 05:11] psss commented on #566
Nice, thanks! Trying with https://github.com/psss/tmt/pull/249.

[2020-05-21 11:38] dhodovsk commented on #815
Fixed

[2020-05-21 11:38] #815 closed

[2020-05-21 11:47] #719 closed

[2020-05-25 06:21] ernestask opened #837 "'FedPKG' object has no attribute 'init_ticket'"
https://github.com/abrt/gnome-abrt/issues/280

https://github.com/packit-service/packit/blob/fc81b48dcd451120721295ca671c242f81126db9/packit/distgit.py#L95

I’m guessing that 5ceaa4caa568fb9673b04640dce30cf90ef2e487 missed that line?

[2020-05-25 06:41] lachmanfrantisek commented on #837
Yes, you are right. I'll take a look.

Sorry about that. (I am wondering why mypy missed that.)

[2020-05-25 06:48] ernestask commented on #837
No worries, I’m myself pushing back-to-back releases in gnome-abrt to deal with similar issues. :)

[2020-05-25 07:48] TomasTomecek commented on #837
is this worth fixing and deploying to prod during the work week? (I'd say it is)

[2020-05-25 07:59] lachmanfrantisek commented on #837
:+1:

I've fixed that and we can deploy after review and merge.

(This shows us that people really use that feature...;)

[2020-05-25 08:11] Zlopez commented on #689
@lachmanfrantisek Did you have time to look at this?

[2020-05-25 09:11] lachmanfrantisek commented on #689
@Zlopez Sorry, I completely forgot about that.

Finally, I've found the problem and have a fix for that.

[2020-05-25 10:58] #837 closed

[2020-05-26 06:00] lachmanfrantisek opened #840 "Build command can use aliases for koji-targets"
Since https://github.com/packit-service/packit/pull/839 is merged, we can now use aliases also for the koji builds.

You can get inspired by the other commands that use aliases to be consistent (`propose-update`, `copr-build`, `create-update`). Also, `build` command uses aliases for branches, but now we want it to work with koji targets as well.

Related code:

https://github.com/packit/packit/blo

[2020-05-26 14:14] lachmanfrantisek commented on #837
Done, should be in prod since the morning.

[2020-05-28 10:23] packit-as-a-service[bot] opened #844 "[packit] Propose update failed for release 0.11.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `The distgit repository /tmp/packit-dist-gitgpuu0hk2 is dirty.This is not supported.` |
| `f32` | `The distgit repository /tmp/packit-dist-gitgpuu0hk2 is dirty.This is not supported.` |
| `master` | `Failed to download file from URL https://files.pythonhosted.org/packages/source/

[2020-05-28 11:36] TomasTomecek commented on #844
/packit propose-update

[2020-05-28 12:46] TomasTomecek commented on #844
/packit propose-update

[2020-05-28 12:54] TomasTomecek opened #845 "Error "Packit failed to clone the repository..." is missing newlines"
[code]

[2020-05-28 13:43] #844 closed

[2020-05-29 08:33] #845 closed

[2020-06-03 07:31] csomh opened #855 "Remove Marshmallow 2 support"
This can be done once Fedora 31 reaches EOL around [mid-November 2020](https://fedorapeople.org/groups/schedule/f-33/f-33-key-tasks.html).

I'm filing this to track PRs which added code to maintain Marshmallow 2-3 compatibility. Hopefully with this we'll have more context when cleaning it up.

[2020-06-03 07:32] csomh commented on #855
Ref #854

[2020-06-03 07:53] TomasTomecek commented on #855
honestly, we can remove it now if we wanted and stop updating f31

[2020-06-08 14:06] TomasTomecek commented on #773
Fixed by https://github.com/packit-service/packit/pull/846

[2020-06-08 14:06] #773 closed

[2020-06-09 10:42] StykMartin commented on #774
You better stop stale bot :eyes:

[2020-06-09 13:00] lachmanfrantisek commented on #774
Just to conclude, this is only about:

- [ ] add the new field to the job metadata
- [ ] add that option to the CLI
- [ ] use that information when creating new copr project / running new builds (like we do with chroots)

[2020-06-09 20:13] #691 closed

[2020-06-09 20:13] #702 closed

[2020-06-11 07:21] sakalosj opened #861 "New patch release"

[2020-06-11 07:24] #861 closed

[2020-06-11 09:50] bocekm commented on #761
@TomasTomecek, since this RFE does not seem to be implemented soon, are you aware of any way to get the PR number to the release prefix?

[2020-06-11 10:44] packit-as-a-service[bot] opened #863 "[packit] Propose update failed for release 0.11.1"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `The distgit repository /tmp/packit-dist-gitnefnw90b is dirty.This is not supported.` |
| `f32` | `The distgit repository /tmp/packit-dist-gitnefnw90b is dirty.This is not supported.` |
| `master` | `Failed to download file from URL https://files.pythonhosted.org/packages/source/

[2020-06-11 10:46] packit-as-a-service-stg[bot] opened #864 "[packit] Propose update failed for release 0.11.1"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `Failed to init kerberos ticket:` |
| `f32` | `Failed to init kerberos ticket:` |
| `master` | `Failed to init kerberos ticket:` |

You can re-trigger the update by adding `/packit propose-update` to the issue comment.

[2020-06-11 10:51] sakalosj commented on #863
/packit propose-update

[2020-06-11 12:13] sakalosj commented on #863
/packit propose-update

[2020-06-12 10:33] #398 closed

[2020-06-15 10:55] jpopelka commented on #782
We still need to base the image on Fedora 32 to fix this.

[2020-06-15 10:57] TomasTomecek commented on #702
I'm sad to say this, but I agree with stale bot here. It's very clear to me that we won't have time to work on this request for the next 3 months. Also it may seem like a simple one, but to make it work in a generic way - let packit CLI to process a defined job, we would need to write a ton of code. I hope then the aliases are a decent compromise for you. Thank you for opening this request.

[2020-06-15 11:06] StykMartin commented on #702
Well.. I tried

[2020-06-17 12:05] lachmanfrantisek opened #866 "Symlinked archive does not work in packit-service"
It looks like rpm does not find the symlinked archive in the packit-service.

Usecase:
- https://prod.packit.dev/srpm-build/4373/logs
- https://github.com/rhinstaller/python-simpleline/pull/64/commits/b07c19b48c6521769fef320dac71c7a02601ade7 (@jkonecny12)
- Locally, SRPM went without problems.

Related code:
https://github.com/packit-service/packit/blob/1bb4001e751ed63ded4c9d87794c58846438d166/pac

[2020-06-17 12:24] lachmanfrantisek opened #867 "upstream_tag_template not used during srpm build"
We should use `upstream_tag_template` also for `srpm` creation so users don't need to specify the custom command.

- [x] use `upstream_tag_template` in `get_current_version`
https://github.com/packit-service/packit/blob/1bb4001e751ed63ded4c9d87794c58846438d166/packit/upstream.py#L255
- [x] ? use `upstream_tag_template in `fix_spec`
https://github.com/packit-service/packit/blob/1bb4001e751ed63ded4c

[2020-06-17 12:26] lachmanfrantisek opened #868 "Archive name instead of package name in %prep section"
As we can see here:
- https://prod.packit.dev/copr-build/51596 (@jkonecny12)

There should be an archive name, not the `f" -n {self.package_config.upstream_package_name}-{version}"` in the `%prep` section. Or am I wrong?

Relevant code:
https://github.com/packit/packit/blob/1bb4001e751ed63ded4c9d87794c58846438d166/packit/upstream.py#L480

[2020-06-18 13:31] jkonecny12 commented on #867
Thanks @lachmanfrantisek for your help and for filing this!

[2020-06-18 13:45] lachmanfrantisek commented on #867
Thanks for the feedback and patience...;)

[2020-06-19 08:02] lachmanfrantisek commented on #774
I'll try to fix this one today together with some parts of this: https://github.com/packit-service/packit-service/issues/645

[2020-06-19 11:31] lachmanfrantisek commented on #866
@TomasTomecek do you have some idea regarding this? I have a few questions: (Would be glad if you can answer those you know an answer for...;)

- Have it worked for someone already?
- Why symlinks do not work in packit-service?
  - Isn't it because symlink is created outside of the sandbox and the build is run inside?
    - Are symlinks preserved? Or the problem is just in a different path.
  - Ca

[2020-06-19 11:53] TomasTomecek commented on #866
Yeah, I have an idea - give me a minimal reproducer :>

We should probably start logging those symlinks and check if they point to an existing file.

How is that different from the symlink?

`mv` isn't slower, modern filesystems just change metadata, no inodes are being moved

they should be relative

[2020-06-19 12:33] lachmanfrantisek commented on #866
See the links above...;)

You don't need to handle absolute/relative paths. We can avoid some problems with that.

I was only not sure if it isn't cross-filesystem in this case. Or some dark-cloud magic...;)

[2020-06-20 17:39] #774 closed

[2020-06-22 12:53] #789 closed

[2020-06-23 07:33] lachmanfrantisek opened #873 "Support for additional_packages in copr"
In #774 it was suggested to support `additional_packages` for copr builds.

- In #872 we add this to the config. (`JobMetadata`)
- The implementation itself was not finished since it needs to be set per-chroot. (It takes more time than I had last Friday...;)

[2020-06-23 11:03] #790 closed

[2020-06-23 12:38] lachmanfrantisek commented on #774
The code was merged and here are some notes on how you can test it:

- It will be in production next week.
- It can be tested with our [our staging instance](https://github.com/packit-service/packit-service/issues/649) now.
  - You will get an error from the production instance with the unknown fields in the config in that case. (Until we have it there as well.)
- You can also try it with our CLI

[2020-06-23 13:41] lachmanfrantisek commented on #756
Still relevant.

[2020-06-23 15:13] packit-as-a-service-stg[bot] opened #877 "[packit] Propose update failed for release 0.12.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `Failed to init kerberos ticket:` |
| `f32` | `Failed to init kerberos ticket:` |
| `master` | `Failed to init kerberos ticket:` |

You can re-trigger the update by adding `/packit propose-update` to the issue comment.

[2020-06-23 15:13] packit-as-a-service[bot] opened #878 "[packit] Propose update failed for release 0.12.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `Failed to download file from URL https://files.pythonhosted.org/packages/source/p/packitos/packitos-0.12.0.tar.gz. Reason: 'Not Found'. ` |
| `f32` | `The distgit repository /tmp/packit-dist-gitzmafu261 is dirty.This is not supported.` |
| `master` | `The distgit repository /tmp

[2020-06-23 16:16] TomasTomecek commented on #866
with sandcastle, they can even be different nodes, so that's why we are doing relative symlinks

I'm sorry but the logs are not clear to me at all.

[2020-06-24 14:53] #761 closed

[2020-06-25 16:43] jkonecny12 commented on #867
This bug is blocking `propose-update` feature for me.

I can't run the command without it:
[code]

However, when I add it to solve this issue then my archive is created with bad directory in the archive.

.packit.yaml
[code]

simpleline-1.7.tar.gz then have sources in directory named ``python-simpleline-simpleline-1.7`` which can't be build with spec file.

[2020-06-25 16:50] jkonecny12 commented on #867
Also a question why propose-update does not using ``create-archive:`` action to create the archive?

[2020-06-26 08:43] jkonecny12 opened #880 "False warning `dist-git-branch` has been renamed to `dist_git_branches`"
I'm getting this warning on every packit command from a command line. Even when I don't have `dist_git_branches` in the configuration file at all.

[code]

[2020-06-26 08:50] jpopelka commented on #880
It says 'dist-git-branch' (dashes, not underscores).
I guess you want to say that you don't have any of those, do you?

[2020-06-26 12:20] #799 closed

[2020-06-26 13:28] #801 closed

[2020-06-26 13:31] TomasTomecek opened #883 "new config option: overwrite downstream %changelog"
add a new option to PackageConfig to overwrite downstream %changelog with the one from upstream

Hi @jkonecny12

[2020-06-26 13:34] jkonecny12 commented on #883
Thanks a lot for this. Just want to note that there could be conflicts, on downstream are plenty of changelog entries like "Mass rebuild" which are not reflected by default to upstream changelog. That was the main reason why I lobbed for removing changelog from spec file completely.

[2020-06-26 13:38] TomasTomecek commented on #883
@jkonecny12 I suggest checking out [rpmautospec](https://docs.pagure.org/Fedora-Infra.rpmautospec/principle.html)

recently @pypingou told my they are planning to do another round of testing of the tool in Fedora

[2020-06-26 21:06] jkonecny12 commented on #883
Thanks, I was looking on that already. It could be nice solution for now to avoid these conflicts and avoid generating the changelog by ourselves.

However, maybe this is my bad understanding but isn't it using dist-git as the source of the generated changelog? If yes, then I have to add commits with bugs and changes to the dist-git which is the problem we are trying to solve here. If I'm wrong pl

[2020-06-26 21:08] jkonecny12 commented on #880
Yes, I don't have any of these variants. Sorry for not making it clear and mistaking the error.

[2020-06-26 21:10] jkonecny12 commented on #880
I've missed one line in my conf file :( . So this is a valid error. Sorry for the noise.

[2020-06-26 21:10] #880 closed

[2020-06-29 11:31] TomasTomecek opened #884 "validate-config improvements"
Follow-up to #826

There are two design problems with the PR above:

1. We validate PackageConfig, not content of .packit.yaml - this is problematic b/c validation happens while parsing the config, so the present implementation is actually "late to the party":
[code]

2. The config is parsed twice: once in the CLI code, second time in `PackageConfigValidation`

This is tracks the deficiency and wo

[2020-06-29 13:09] TomasTomecek commented on #883
you're correct, we'd still need to keep the `%changelog` file in sync b/w upstream and downstream

[2020-07-02 14:59] #884 closed

[2020-07-06 12:15] #747 closed

[2020-07-07 15:12] #738 closed

[2020-07-08 10:53] lachmanfrantisek opened #890 "Wrong package version for PRs"
[The patch](https://github.com/packit-service/packit/pull/870) does not seem to work as intended.
We have a new PR https://github.com/oamg/convert2rhel/pull/86 and packit has created a build with `master` in its name instead of `pr86`.
Related copr build log: https://prod.packit.dev/copr-build/54293 pointing to https://copr.fedorainfracloud.org/coprs/g/oamg/convert2rhel/build/1532400/.

_Originall

[2020-07-08 10:56] lachmanfrantisek commented on #890
The `convert2rhel` has also `master` build defined in [their package config](https://github.com/oamg/convert2rhel/blob/master/.packit.yaml) if it can be related.

[2020-07-08 13:10] csomh opened #891 "New minor release"

[2020-07-08 13:15] #891 closed

[2020-07-09 12:25] packit-as-a-service-stg[bot] opened #893 "[packit] Propose update failed for release 0.13.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `Failed to init kerberos ticket:` |
| `f32` | `Failed to init kerberos ticket:` |
| `master` | `Failed to init kerberos ticket:` |

You can re-trigger the update by adding `/packit propose-update` to the issue comment.

[2020-07-09 12:28] csomh commented on #893
This is expected.

[2020-07-09 12:28] #893 closed

[2020-07-09 12:39] jpopelka commented on #893
/packit propose-update

[2020-07-09 12:49] TomasTomecek commented on #890
uhhhhh, I did not see this coming; I'll take a look tomorrow

[2020-07-10 11:48] #890 closed

[2020-07-10 11:53] TomasTomecek commented on #890
so: the thing is that we merged [Laura's giant PR](https://github.com/packit-service/packit-service/pull/704) which made reproducing this completely impossible. What I did is that I made sure to cover this use case by test cases both here and in p-s. Once we get this on stg/prod we'll see if this works or not.

[2020-07-14 09:24] csomh opened #897 "New patch release"

[2020-07-14 09:28] #897 closed

[2020-07-14 11:15] packit-as-a-service[bot] opened #900 "[packit] Propose update failed for release 0.13.1"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `Failed to download file from URL https://files.pythonhosted.org/packages/source/p/packitos/packitos-0.13.1.tar.gz. Reason: 'Not Found'. ` |
| `f32` | `The distgit repository /tmp/packit-dist-gitxfmk7056 is dirty.This is not supported.` |
| `master` | `The distgit repository /tmp

[2020-07-14 11:18] csomh commented on #900
/packit propose-update

[2020-07-14 11:18] packit-as-a-service-stg[bot] opened #901 "[packit] Propose update failed for release 0.13.1"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `Failed to init kerberos ticket:` |
| `f32` | `Failed to init kerberos ticket:` |
| `master` | `Failed to init kerberos ticket:` |

You can re-trigger the update by adding `/packit propose-update` to the issue comment.

[2020-07-14 11:19] csomh commented on #901
Expected.

[2020-07-14 11:19] #901 closed

[2020-07-14 11:57] csomh commented on #900
/packit propose-update

[2020-07-14 14:27] csomh commented on #774
@lachmanfrantisek please also update the user docs on packit.dev to include this. Thanks!

[2020-07-15 09:29] csomh commented on #900
/packit propose-update

[2020-07-15 10:11] jkonecny12 commented on #883
Just thinking if we can't use these changes to make the solution smoother:
https://fedoraproject.org/wiki/Changes/Patches_in_Forge_macros_-_Auto_macros_-_Detached_rpm_changelogs
https://fedoraproject.org/wiki/Changes/rpm_level_auto_release_and_changelog_bumping

Maybe I'm wrong but I can imaging the rpm-changelog.txt will be generated from some changelog file in the upstream. Not sure how easily i

[2020-07-15 10:41] bocekm opened #902 "pull_request jobs fail on permissions"
The packit jobs triggered on PR https://github.com/oamg/convert2rhel/pull/82 say:
`Submit of the build failed: Only owners and admins may update their projects.`

But @SpyTec has another PR, https://github.com/oamg/convert2rhel/pull/78, where the jobs run fine. @SpyTec is an admin of the https://github.com/oamg/convert2rhel/ repo.

The only reason that comes to my mind is that the PR is marked as

[2020-07-15 12:30] csomh commented on #900
/packit propose-update

[2020-07-15 13:24] lbarcziova commented on #902
In this PR https://github.com/oamg/convert2rhel/pull/82, `epel-8-x86_64` target for copr-build is added into `packit.yaml`, so we are trying to update your copr project and that causes the failure (we probably don't have permissions to update the copr project).

Can you please check the permissions for that project?

[2020-07-15 14:09] TomasTomecek commented on #902
or even better, add that chroot to the project

but in the end, we should provide better UX when this happens

[2020-07-15 14:13] TomasTomecek commented on #883
interesting, seems like a different solution than the rpmautospec, thanks for the headsup

[2020-07-15 14:23] TomasTomecek commented on #883
I bumped this task in our jira backlog up so I hope the team will groom it on next Tue.

[2020-07-15 14:35] csomh commented on #900
/packit propose-update

[2020-07-15 17:19] bocekm commented on #902
`packit` copr user has asked for the Builder permissions and that's what it has approved now. The user hasn't asked for the Admin permissions and in Copr it works in a way that unless a user **requests** certain permissions, I, as an admin, can't grant the permissions.

Of course, I should have realized that. Done.

[2020-07-16 05:37] #900 closed

[2020-07-16 05:49] csomh opened #903 "'packit build' should start all builds at once"
Koji builds started by `packit build` could be started in parallel and watched till completion (except when `--nowait` is provided, of course).

[2020-07-16 06:38] csomh commented on #902
Yeah, this is true. I don't think we would like admin permissions on Copr repos we are granted access to, unless you think there would be value in Packit Service adding chroots as they show in in `packit.yaml`.

Otherwise we need to improve the error message to ask users to update their projects with the new chroots.

[2020-07-16 07:09] lachmanfrantisek commented on #902
Sorry for the late reply, I had a PTO.

This problem is caused by the improvements I made to copr repos: creating non-temporary projects, adding additional repos,...
(#872 , https://github.com/packit-service/packit-service/pull/694)

The problematic part is with the updated configs -- e.g. if we create a copr project as a temporary one and after that, we want to change that (turn off the removal).

[2020-07-16 10:20] jpopelka opened #905 "ERROR The create-archive action did not output a path to the generated archive."
[code]

Removing 'sh -c' from [.packit.yaml](https://github.com/packit-service/packit/blob/master/.packit.yaml#L12) fixes it.

[2020-07-16 10:46] lachmanfrantisek commented on #902
We can do it in the following way:

- Update only if needed (settings differ).
- If we can't update because of the permissions.
  - Place a comment with the info about a need to grant the permissions to our user or do the change manually.

- Projects created by us would still be updatable.
- Users don't need to grant us higher permissions if they don't want to.

WDYT?

[2020-07-16 11:05] bocekm commented on #902
The thing is that unless your `packit` copr user requests the Admin permissions, nobody can grant them:
![Screenshot from 2020-07-16 12-59-35](https://user-images.githubusercontent.com/9884110/87663617-a143a780-c753-11ea-83d1-eea049ccf68c.png)

So you either request for the Admin permissions right away when you realize you don't have them, and/or, and think that would be sufficient, just add a com

[2020-07-16 11:41] lachmanfrantisek commented on #902
@bocekm thanks, I'll take a look what can be done via copr API.

[2020-07-16 12:06] TomasTomecek commented on #905
so drop `sh -c` and we're good here?

[2020-07-16 13:40] jpopelka commented on #905
#908

Do you (or @lachmanfrantisek) know of any other project using custom `create-archive`? (to make sure they don't hit this too)

[2020-07-16 13:53] TomasTomecek commented on #905
afaik tmt is, also simpleline

[2020-07-16 14:31] lachmanfrantisek commented on #905
Pinging @psss so you are aware of this.

[2020-07-16 14:43] #905 closed

[2020-07-17 07:32] martinpitt commented on #427
*bump*

[2020-07-17 08:41] TomasTomecek opened #909 "tests fail in Fedora CI: python3-devel and `python3dist(setuptools-scm-git-archive)` are missing"
[code]

[2020-07-17 15:40] bocekm opened #910 "commit jobs fail on permissions"
Upon merging a PR https://github.com/oamg/convert2rhel/pull/78 to master, packit jobs failed to create a copr build on the resulting commit to master https://github.com/oamg/convert2rhel/commit/6f5562bb1279e32e809d8c91e0480003591feb63 saying:
`Submit of the build failed: Only owners and admins may update their projects.`

![Screenshot from 2020-07-17 17-39-19](https://user-images.githubusercontent

[2020-07-17 17:55] bocekm commented on #910
Ah, ok. It's not just about commit trigger. The packit jobs fail also for pull_request trigger: https://github.com/oamg/convert2rhel/pull/71.

[2020-07-20 15:31] carlwgeorge commented on #822
not stale

[2020-07-22 13:56] jkonecny12 commented on #905
The dasbus project is using this too https://github.com/rhinstaller/dasbus/blob/master/.packit.yaml

[2020-07-23 07:09] csomh commented on #910
@bocekm sorry for the late answer. This error seems to be coming from Copr again. Does the Copr project that the builds should happen in have all the chroots configured that Packit should build for?

[2020-07-27 07:40] TomasTomecek commented on #822
@lachmanfrantisek this should be now fixed, right?

https://github.com/packit-service/dist-git-to-source-git/pull/18
https://github.com/packit-service/packit/pull/875

[2020-07-27 14:17] lachmanfrantisek commented on #910
This is the same problem as in https://github.com/packit-service/packit/issues/902. As [described](https://github.com/packit-service/packit/issues/902#issuecomment-659205456) in the other issue, this is about permissions to edit copr project settings.

I'm closing this one in favour of the other one since it's trigger independent.

Also related to this: https://github.com/packit-service/packit-ser

[2020-07-27 14:17] #910 closed

[2020-07-27 14:18] lachmanfrantisek commented on #910
@bocekm In all cases, thanks for creating those issues and sorry about that.

[2020-07-28 07:00] TomasTomecek commented on #692
In theory I thought this is going to be easy, but it wasn't. Here's a post-morterm for the person who tries to implement this in future:

* Make sure it works well in sandcastle (tests: test_md_exec (we use this now) and test_exec (we want to use this in future)).

* The biggest problem is that with mapped dir in sandcastle we execute in a bash script while normal exec needs to be a list of string

[2020-07-28 07:37] csomh commented on #692
Would introducing a *shell* and *exec* form for actions help resolving some of these problems? This would be similar to how [*ENTRYPOINT* works in a Dockerfile](https://docs.docker.com/engine/reference/builder/#entrypoint).

This way if a command is provided in _exec_ form, it would be also executed as such, if it's provided in _shell_ form it would be executed as such and the code wouldn't have t

[2020-07-28 09:59] #822 closed

[2020-07-28 13:13] jpopelka opened #914 "New minor release"

[2020-07-28 13:13] #914 closed

[2020-07-28 13:54] packit-as-a-service[bot] opened #916 "[packit] Propose update failed for release 0.14.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `The distgit repository /tmp/packit-dist-gito1pjamhr is dirty.This is not supported.` |
| `f32` | `Failed to download file from URL https://files.pythonhosted.org/packages/source/p/packitos/packitos-0.14.0.tar.gz. Reason: 'Not Found'. ` |
| `master` | `The distgit repository /tmp

[2020-07-28 13:56] jpopelka commented on #916
/packit propose-update

[2020-07-28 13:58] packit-as-a-service-stg[bot] opened #917 "[packit] Propose update failed for release 0.14.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `Failed to init kerberos ticket:` |
| `f32` | `Failed to init kerberos ticket:` |
| `master` | `Failed to init kerberos ticket:` |

You can re-trigger the update by adding `/packit propose-update` to the issue comment.

[2020-07-28 14:00] #877 closed

[2020-07-28 14:00] #878 closed

[2020-07-28 14:01] #917 closed

[2020-07-28 14:27] jpopelka commented on #916
ok (stg), but why there's nothing from prod? I can't even see anything in logs other than:
[code]

[2020-07-29 10:06] #909 closed

[2020-07-29 13:28] bocekm commented on #902
Hi. Is there any progress with this issue? We've got a new PR https://github.com/oamg/convert2rhel/pull/92 for which packit fails to run the jobs. There's no need for an additional chroot in copr so I'm not sure if it's the same issue I originally reported here.

[2020-07-30 05:53] csomh commented on #902
Hey @bocekm, @lachmanfrantisek will look into this.

[2020-07-30 06:53] lachmanfrantisek commented on #902
@bocekm I'll take a look. The problem is that we are trying to update copr project settings (chroots, removal, additional_repos,...) each time to be able to change the settings also after the copr project creation. That can be a problem for the custom project since we don't permissions to do the updates.

I would like to implement the following fix:
- Update only if needed -- this should solve you

[2020-07-31 15:57] #571 closed

[2020-08-03 06:52] csomh commented on #855
Note, that this might stick around longer if we continue to use "packit" in dist-git-to-source-git.

[2020-08-03 08:51] TomasTomecek commented on #902
This issue is being worked on right now by @lachmanfrantisek, we are sorry that builds are failing for you for 2 weeks at this point.

Franta pointed ou to me that there are two possible workarounds in the meantime:
1. Grant our COPR packit user admin rights in your project so it can set the chroot list correctly.
2. Set the chroot list yourself (match what you have in packit.yaml).

Teammates, pl

[2020-08-03 08:57] lachmanfrantisek commented on #902
We need to ask for that permission so they can grant it to us. (We can do that manually if you need it ASAP.)

You can also remove the custom project/user from config for now.

[2020-08-03 10:41] bocekm commented on #902
We can be without the copr day for couple more days and wait for the fix in packit. Thanks for the update, guys.

[2020-08-03 15:52] #744 closed

[2020-08-05 08:36] lbarcziova opened #924 "sync_release can leave the cloned distgit repository dirty when error occurs"
When in `sync_release` an error occurs and some files in distgit repo were already changed locally and not pushed, the repo stays `dirty`, therefore when e.g. in p-s sync-release is called in a loop for each branch, when an error occurs for some branch, following branches that are processed fail on the [dirty check](https://github.com/packit/packit/blob/139b99b53caab19e65595083d97b02b181820adc/pac

[2020-08-05 09:16] csomh commented on #924
What are these changes? Why are they made and why aren't they committed and pushed?

[2020-08-05 10:30] lbarcziova commented on #924
It depends on what error occurs and can't be said from the logs which files we have already changed, but in #916 when the downloading of the archive fails, I assume some changes in specfile are already made and we add README.packit file as well.

 The committing and pushing is happening in the end of the method, so before that, we can get errors/exceptions.

[2020-08-05 14:25] #902 closed

[2020-08-05 16:18] bocekm commented on #902
@lachmanfrantisek, thanks for the fix ;) It's gonna be deployed in production on Monday, right?

[2020-08-06 09:40] sentry-io[bot] opened #925 "Copr does not return all attributes"
Sentry Issue: [RED-HAT-0P-2RW](https://sentry.io/organizations/red-hat-0p/issues/1826970172/?referrer=github_integration)

[code]

The available info:
[code]

[2020-08-06 12:23] mfocko commented on #866
Seems related to packit/packit-service#621?

[2020-08-07 07:15] lachmanfrantisek commented on #902
Hopefully. I tested that on stage and found one extra problem with that. (#927). I'll test with the fix on stage today and move to stable if everything goes well.

[2020-08-07 07:20] #925 closed

[2020-08-07 08:08] TomasTomecek commented on #924
+1 on doing `reset --hard`

[2020-08-07 11:58] jkonecny12 commented on #868
Hi, any update on this issue?

[2020-08-07 14:00] lachmanfrantisek commented on #902
@bocekm quick update regarding this issue:

- I've found and fixed another problem and have a working version on stage.
- The new workflow can be seen here: https://github.com/packit/hello-world/pull/128 -- the staging (yellow) GitHub app.
  - You can now see what settings need change if you want to do the update manually.
  - If you give admin rights to our user, we will do the update for you. Un

[2020-08-07 14:08] bocekm commented on #902
The message looks great. I'll wait till Monday. Thanks.

[2020-08-08 16:53] pvalena opened #930 "Version from tag detected incorrectly"
By default, packit detects version from tag (great!), but it doesn't select the latest one:

[code]

Same with the packit github app: https://github.com/pvalena/abrt-ruby/pull/4
(I've changed the `.packit.yaml` since to get version from file)

[2020-08-11 07:45] TomasTomecek commented on #930
this is really suspicious, especially when it says that the latest is 0.4.0

[2020-08-11 07:48] TomasTomecek commented on #868
@jkonecny12 sadly not, we are overwhelmed with work to be honest (nothing new) and Summer & PTOs don't make it any better

I can add it to the next sprint if we have enough capacity to work on it.

[2020-08-11 07:52] TomasTomecek opened #931 "copr project update metadata: don't enforce `unlisted_on_hp`"
https://github.com/oamg/convert2rhel/pull/92#issuecomment-671788425

We shouldn't enforce the unlisted_on_hp setting since the project is not created by us.

[2020-08-11 09:37] mfocko commented on #930
@TomasTomecek version is set using `current_version_command` that defaults to (also reproduces locally):
[code]

[2020-08-11 09:59] TomasTomecek commented on #930
@pvalena fix your master branch :P

[2020-08-11 10:24] jkonecny12 commented on #868
OK, thanks for info!

[2020-08-11 13:30] pvalena commented on #930
Right, it didn't occur to me those two are related. Thanks!

[2020-08-11 13:30] #930 closed

[2020-08-12 11:09] lachmanfrantisek commented on #931
Good point!

- Do we want to ignore any edits or only the `True->False`?
- Do we want to ignore this only for custom projects?
- Is it a big problem to have `list_on_homepage=True` in the config for such cases? (Sorry that it is not documented. Still on my TODO.)

The example I have in mind is the repo created by us for branch commits that we want to make visible because it had already been create

[2020-08-12 11:17] lachmanfrantisek opened #935 "ask for build permissions for custom copr project"
- Users can't give us build permissions directly when using a custom project. We need to ask for that permission first.
- By now, we [are saying](https://packit.dev/docs/configuration/) that users need to ask us to do that manually:

- We now ask for `admin` permissions and it's only a one method call:
     https://github.com/packit/packit/blob/a9ad5f364d83386f184560957533387375571aff/packit/copr_

[2020-08-12 11:43] #803 closed

[2020-08-12 15:14] pemensik opened #936 "Failing to create srpm"
I have tried to create prepare source-git repository on bind-dyndb-ldap, based on article [1]. I have repository on github [2].

However packit srpm returns quite cryptic error to me.

[code]

1. https://packit.dev/docs/source-git/how-to-source-git/
2. https://github.com/pemensik/bind-dyndb-ldap/tree/bind-9.16-sg

[2020-08-12 15:19] TomasTomecek commented on #936
I'm really confused here.

[code]

This literally means that your clone does not exist. Which doesn't make any sense.

Could you please clarify that your local clone is fine?

[code]

[2020-08-12 15:23] TomasTomecek commented on #936
Gotta second @jpopelka here, `packit srpm` works fine for me as well:
[code]

[2020-08-12 15:27] pemensik commented on #936
No, I am not aware of anything esoteric.

[code]

[2020-08-12 15:36] pemensik commented on #936
It seems git clean helped for some reason. Should not it work only with git listed files?

[code]

[2020-08-13 07:25] TomasTomecek commented on #931
not a big problem, but we shouldn't enforce it since we don't own the project - people should decide this configuration

ignore all

yes - ignore for custom, enforce for ours

Yeah, that makes sense. Looks like we may end up with leaving this configurable via packit.yaml in the end.

[2020-08-13 07:37] TomasTomecek commented on #936
Wow, this is super-weird. I can imagine that a dirty git repo would be a problem, but then I'd expect some meaningful error message, not "No such file or directory" while doing `ls -l .`.

If you hit this again, please comment some more info here so we can investigate further, thank you.

[2020-08-13 09:07] lachmanfrantisek commented on #931
With boolean and current config workflow it is hard to differentiate between no value and default value..;(

OK, I'll ignore `unlisted_on_hp` edits when `user != "packit"`.

[2020-08-17 08:39] #931 closed

[2020-08-17 11:32] TomasTomecek commented on #782
renamed to make this more accurate

[2020-08-17 15:00] #733 closed

[2020-08-17 15:31] jkonecny12 opened #941 "Runnig packit copr-build locally will raise an error"
On the Anaconda project (this PR https://github.com/rhinstaller/anaconda/pull/2776) when I start

[code]

I will got this following output. Not sure why this is happening. Could you please help me here?

[code]

[2020-08-18 07:20] lachmanfrantisek commented on #941
@jkonecny12 thanks for the report.

The `Request wasn't successful, there is probably a bug in the API code.` comes from Copr and it can mean anything.
- Do you have `~/.config/copr` file with the correct authentication?

[2020-08-18 07:23] TomasTomecek commented on #941
I would love to see the content of `response_json`, it seems the "error" key may contain some meaningful info.

Anyway, we should improve logging to see copr-related params.

This is also pretty suspicious:
[code]

[2020-08-18 07:23] lachmanfrantisek commented on #941
Looking at the PR, you are getting `No matching package to install: 'python3-kickstart >= 3.27-1'`.

You can set `additional_repos` in your packit config that will be used for your copr project if it help. (I am just updating docs to have it there as well.)

[2020-08-18 08:39] #935 closed

[2020-08-18 09:38] mfocko opened #942 "[create-archive] Symlinking absolute path"
Related to #866, packit/packit-service#621

Add support for absolute path to the archive when symlinking (demonstrated in psss/tmt#249). Right now it is required to provide relative path within the repository.

[2020-08-18 09:39] #866 closed

[2020-08-18 11:18] TomasTomecek opened #943 "git-am style patches: UX improvements when more patch types are present in a single source-git repo"
Follow-up to https://github.com/packit/packit/pull/933#discussion_r469988494

We should prepare for a situation where we have a source-git repo which uses both git-am style patches but as well there are some downstream patches which we don't follow the scheme.

So we should apply the standard logic for the patches which don't follow git-am style.

Franta suggests to use the presence of patch metad

[2020-08-18 11:49] jkonecny12 commented on #941
Wow, great, thanks a lot for your answer.

[2020-08-18 11:53] jkonecny12 commented on #941
Yes I have token which should expire on
[code]

[2020-08-18 12:43] jkonecny12 commented on #941
This is correct error and I have to set tests only to Rawhide because Anaconda is really tight to Rawhide on master branch. However, I don't think this is the reason why my local copr-build command is failing.

[2020-08-18 13:36] jkonecny12 commented on #941
Maybe this could be the problem:

https://copr-be.cloud.fedoraproject.org/results/packit/rhinstaller-anaconda-2776/fedora-rawhide-x86_64/01615810-anaconda/builder-live.log.gz

[code]

[2020-08-18 14:00] lachmanfrantisek commented on #943
To make it clear, I am suggesting:
- Add a new attribute to the `PatchMetadata` to express if the commit contains metadata:
  https://github.com/packit/packit/blob/e899f244d26fcaf98030a8f24df015eb02e1a227/packit/patches.py#L44-L81
- Use that attribute when loading:
  https://github.com/packit/packit/blob/e899f244d26fcaf98030a8f24df015eb02e1a227/packit/patches.py#L119-L126
- Edit conditions in this

[2020-08-18 15:21] TomasTomecek commented on #943
I'm personally not too sold on the with/without metadata - to me the 'present_in_specfile' matters, but it's true that it addresses the current state.

[2020-08-19 09:18] lbarcziova opened #946 "New minor release"

[2020-08-19 09:23] #946 closed

[2020-08-19 11:32] TomasTomecek commented on #941
I find it really interesting that it is uncompressed just fine (`bzip2 -dc`) but it fails on tar.

Can you please put some debugging commands between %prep and %autosetup to see how the tarball looks like.

I seriously have no idea. Especially when the archive is created by you and not by p-s.

[2020-08-19 14:38] jkonecny12 commented on #941
Any idea what to put there?

It was created by service. I just know that `packit srpm` creates srpm which could be build by mock easily.

[2020-08-20 08:05] packit-as-a-service-stg[bot] opened #948 "[packit] Propose update failed for release 0.15.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `Failed to init kerberos ticket:` |
| `f32` | `Failed to init kerberos ticket:` |
| `f33` | `Failed to init kerberos ticket:` |
| `master` | `Failed to init kerberos ticket:` |

You can re-trigger the update by adding `/packit propose-update` to the issue comment.

[2020-08-21 06:46] lachmanfrantisek commented on #774
Done. Also with other related changes. (https://packit.dev/docs/configuration/)

[2020-08-24 06:36] lachmanfrantisek commented on #756
Can we at least agree on the best name so it can be solved?

Let's up/downvote the following comments:

[2020-08-24 06:36] lachmanfrantisek commented on #756
`propose-downstream`

[2020-08-24 06:36] lachmanfrantisek commented on #756
`propose-update`

[2020-08-24 07:26] TomasTomecek commented on #756
Context: I picked "update" as the word back then because it was used in multiple places in Fedora docs to describe the process of updating a package to a given upstream version. This makes sense for Fedora infra PoV, but not from upstream project point of view, hence "downstream" > "update" in this context from my side.

[2020-08-24 12:46] #864 closed

[2020-08-24 21:54] #863 closed

[2020-09-02 07:07] mfocko opened #953 "New minor release"

[2020-09-02 07:12] #953 closed

[2020-09-03 08:25] packit-as-a-service-stg[bot] opened #956 "[packit] Propose update failed for release 0.16.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `Failed to init kerberos ticket:` |
| `f32` | `Failed to init kerberos ticket:` |
| `f33` | `Failed to init kerberos ticket:` |
| `master` | `Failed to init kerberos ticket:` |

You can re-trigger the update by adding `/packit propose-update` to the issue comment.

[2020-09-03 10:11] lachmanfrantisek commented on #956
Expected on stage.

[2020-09-03 10:11] #956 closed

[2020-09-04 12:04] TomasTomecek opened #957 "source-git: add support for empty patches"
you can have a patch file, it can be empty and rpmbuild will "apply" it just fine, though it prints an ugly error message:

[code]

We need to add support in packit for this: if we find an empty commit with metadata (and present_in_specfile=true), we should correctly create an empty patch file with the appropriate name

[2020-09-08 10:53] sakalosj commented on #867
fix_spec is already called with the version returned by get_current_version

[2020-09-14 13:21] csomh commented on #957
Is this still open or it was solved? :thinking:

[2020-09-14 13:39] lachmanfrantisek commented on #957
Looks like we need to fix that on the packit side.

[2020-09-15 08:01] lachmanfrantisek commented on #941
@TomasTomecek @jkonecny12

I am now a bit lost here.

- Is the problem about `/usr/bin/tar: This does not look like a tar archive` error? Is there anything else we need to do?
- Is this still relevant? Can you confirm it currently works in service and not via CLI, please?

Thanks and sorry for the communication delay.

[2020-09-15 09:12] lachmanfrantisek commented on #883
Some action to trigger sync2jira.

[2020-09-15 11:40] lbarcziova opened #962 "[tests/integration/test_source_git.py] test failures when calling sync_release with correct arguments"
When calling `sync_release` with correct arguments (#961), the tests using this method in `test_source_git.py`  fail.

https://github.com/packit/packit/pull/961#issuecomment-692659665

[2020-09-16 09:51] mfocko commented on #948
expected

[2020-09-16 09:51] #948 closed

[2020-09-18 11:27] jpopelka opened #965 "reverse-dep-packit-service-tests: FAILURE - Could not run curl-config"
When the reverse-dep test tries to [install packit-service](https://github.com/packit/packit/blob/master/files/zuul-reverse-dep-packit-service.yaml#L9) it [fails](https://softwarefactory-project.io/zuul/t/packit-service/build/2e6dec8d4d514c0f983dd079b8a91cd5) on installing `pycurl` (a dependency of [celery[sqs]](https://github.com/packit/packit-service/blob/master/setup.cfg#L36)) from PyPI.
Reason

[2020-09-18 12:43] TomasTomecek commented on #965
`Collecting pycurl==7.43.0.2; extra == "sqs"`

I don't think we can guarantee to have that version in Fedora; e.g. F32 has this:
[code]

[2020-09-18 13:02] jpopelka commented on #965
:facepalm: ok, that's why the service and worker images build OK - because they are F31 based and F31 has `python3-pycurl-7.43.0.2`
while the Zuul job is F32 based, i.e. has `python3-pycurl-7.43.0.5`
I'm wondering why celery pins the `pycurl` dependency to an exact version
 - the version we use (4.4.2) requires `pycurl==7.43.0.2`
 - latest celery (4.4.7) requires `pycurl==7.43.0.5`

I'll ask celer

[2020-09-18 15:24] jpopelka commented on #965
[It seems to be on purpose](https://github.com/celery/celery/blob/master/requirements/extras/sqs.txt#L2), so I don't think they'd accept any 'un-pin pycurl' PR.

For now I decided to rebase our images on F32 (which ships `python3-pycurl-7.43.0.5`) and pin celery to 4.4.7 which requires `pycurl==7.43.0.5`.

[2020-09-21 09:55] #823 closed

[2020-09-21 10:41] #965 closed

[2020-09-22 06:40] #867 closed

[2020-09-22 08:49] lachmanfrantisek opened #969 "propose-update requires sources file in dist-git"
When we use `propose-update` for a new package (e.g. `requre` in this case), the `sources` file is created only when we upload archive to the lookaside-cache => since we do that only once, it's created only for the first branch and the command fails for the other ones.

The temporary solution is to use `--force-new-sources` option.

[code]

[2020-09-22 09:35] sakalosj commented on #868
fixed by #959
rework of setting correct directory in an archive (`%setup -n ...`) handled in #952

[2020-09-22 10:08] jkonecny12 commented on #941
Hi,

no my assumption at https://github.com/packit/packit/issues/941#issuecomment-675483127 is not correct. I still have this issue with my [python-simpleline](https://github.com/rhinstaller/python-simpleline) project which works correctly from the service.

Current ``packit -d copr-build`` output.

[code]

Seems the problem now is:
[code]

Why ``None`` shouldn't this name be automatically set fro

[2020-09-22 10:47] lachmanfrantisek commented on #941
Aha, here is a problem:

https://github.com/packit/packit/blob/bc7c411d211e7d0c5492a8f5cb7f4c201dc3206c/packit/cli/copr_build.py#L121-L126

The fix should be trivial.

---

Note that you can use `--project` option for now:

https://github.com/packit/packit/blob/bc7c411d211e7d0c5492a8f5cb7f4c201dc3206c/packit/cli/copr_build.py#L42-L47

[2020-09-22 16:08] #941 closed

[2020-09-23 06:59] lachmanfrantisek commented on #941
@jkonecny12 this fix is merged in maser -- you can wait for the release (done each two weeks) but you can use `pip` or the following copr repo to have it sooner:  https://copr.fedorainfracloud.org/coprs/packit/packit-master/

[2020-09-23 10:55] jkonecny12 commented on #941
Thanks a lot. I've tried the --project and that worked as expected!

I've also tried new packit now and it works as expected too! Thanks a lot for your help!

[2020-09-24 02:58] cheese opened #973 "packit dropped leading zeros in version numbers"
I am working on a project with version '2020.09.24'. When I run propose-update, packit cut the version to '2020.9.24' and failed to checkout the new version.

Packit is run from git repo at 790b01a3 on Fedora 32

debug output:
[code]

[2020-09-24 08:30] #973 closed

[2020-09-24 08:30] lachmanfrantisek commented on #973
Thanks for pointing this out and also for fixing that.

The fix should be up on Monday for the [Github app](https://github.com/marketplace/packit-as-a-service). Regarding the packit package, master commits are built in [packit/packit-master](https://copr.fedorainfracloud.org/coprs/packit/packit-master/) copr repo and every two weeks, we have a new release in Fedora. (See [README](https://github.co

[2020-09-24 12:17] TomasTomecek commented on #965
That is actually a common practice for several upstream projects: to pin to a specific version of a dependency to guarantee it works correctly on all the platforms (they expect people install everything from PyPI in a venv probably). I know that python-docker does the same thing and I keep unpinning in downstream because... exactly what we are solving here.

[2020-09-24 12:24] TomasTomecek commented on #427
Franto, I just adding this to the upstream project and wanna discuss with you.

[2020-09-24 14:04] lachmanfrantisek opened #975 "[question] propose update on source-git repositories"
How do we expect the propose-update works on source-git repositories?

Source-git repositories can look like this:

[code]

By now, we checkout the upstream tag and fails on missing packaging files. You can use `--local-content` that avoids checking out the tag.

- Do we want to force `--local-content` for source-git repositories (=`upstream-ref` set)?
- Do we want to do the same commit->patch mag

[2020-09-25 07:56] TomasTomecek commented on #975
I'd expect it would "just work"™️ :D

Yes, but we shouldn't touch the version field in the spec file since there would be no way to find out the correct version - `git describe` can't know it. So I guess we'd just bump release and add a new entry to the %changelog.

absolutely, once we created all the patches, we should then copy them to dist-git

[2020-09-25 08:03] TomasTomecek commented on #969
we could potentially check for presence of the sources file and run new-sources if it's not present, WDYT?

[2020-09-25 13:35] #586 closed

[2020-09-29 08:04] csomh commented on #692
@lachmanfrantisek What do you think? Would it make sense to support *shell* and *exec* forms as described in the above comment? If yes, any idea about the priority? :slightly_smiling_face:

[2020-09-29 08:07] lachmanfrantisek commented on #962
@lbarcziova Isn't this fixed now?

[2020-09-29 08:08] lbarcziova commented on #962
yes, closing

[2020-09-29 08:08] #962 closed

[2020-09-29 12:03] dhodovsk opened #979 "New minor release"

[2020-09-29 12:04] #979 closed

[2020-09-29 13:54] lachmanfrantisek commented on #692
I am not sure if it is worth handling config versioning.

- Do we know about some user that really needs this?
- I know about users that hide this inside custom make targets so they don't need to solve this in packit config.
  (edit: psss [removed](https://github.com/psss/tmt/commit/c9089f5108105b970347c04b9d86abfa58788202#diff-fe4722947dd39cb8dfc891a717f066ca)  packit-specific commands from the c

[2020-09-29 15:18] TomasTomecek opened #981 "prioritize tasks when user is directly affected"
e.g. comments or pushes - that's where users want immediately see that packit-sevice picked up the event and is processing it

for others where we just react to services (srpm is done, copr build is pending, etc.) it's fine to post an update a few secs later

[2020-09-30 06:45] lachmanfrantisek commented on #942
ping sync2jira

[2020-09-30 10:07] #924 closed

[2020-10-01 08:55] sakalosj opened #982 "Refactor Upstream class"
Upstream class has grown big and some methods and its responsibilities are too wide. There are some methods that can be probably moved to the existing/new class.

My first look suggestion:

new class Archive:
    def create_archive(self, version: str = None) -> str:
    def _create_archive_using_default_way(self, dir_name, env, version) -> str:
    def get_version_from_tag(self, tag: str) -> str:

[2020-10-01 10:02] packit-as-a-service-stg[bot] opened #983 "[packit] Propose update failed for release 0.17.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `Failed to init kerberos ticket:` |
| `f32` | `Failed to init kerberos ticket:` |
| `f33` | `Failed to init kerberos ticket:` |
| `master` | `Failed to init kerberos ticket:` |

You can re-trigger the update by adding `/packit propose-update` to the issue comment.

[2020-10-01 10:20] sakalosj opened #984 "Create URL constants and test for their availability"
Create URL constants
e.g.
[code]

check via:
* integration(?) test to check if they are reachable
* sentry issue while initializing them

I thought there will be some solution for this, but didn't found anything.

WDYT?

[2020-10-01 11:34] lachmanfrantisek commented on #706
Here is a conclusion what needs to be done:
- [ ] Get the info about current `stable`/`all`/`development` versions via Bodhi REST API or via bodhi Python client.
- [ ] Use hardcoded values if Bodhi is not available.
- [ ] When used in Copr, check that the values are present in Copr. (You can use or get inspired by [`available_chroots` method](https://github.com/mfocko/packit-service/blob/bdb9989bd

[2020-10-01 11:56] TomasTomecek commented on #982
+1 very good idea

+1

Not sure about this one just by looking at the method name

+1

[2020-10-01 13:05] csomh commented on #692
I'm not aware of any and I don't know about anyone being bothered by the need to add "bash -c" for their commands to use a shell.

I have the feeling that on the long run solving this (supporting both *exec* and *shell*) would be nice. And it would nice if the solution would follow and already existing (and known) one. But we will need versioning for this in order to not to brake compatibility.

O

[2020-10-02 07:06] lachmanfrantisek commented on #984
I've mentioned an option for HTML and MD in [packit.dev](https://github.com/packit/packit.dev/issues/168). Maybe we can try parsing the file with URL constants as MD.

[2020-10-02 07:09] lachmanfrantisek commented on #984
If we want to ease the testing, we can have an ENUM for that so we can easily loop through all the URLs.

[code]

[2020-10-02 08:00] lachmanfrantisek commented on #983
Expected on stage.

[2020-10-02 08:00] #983 closed

[2020-10-02 08:39] #868 closed

[2020-10-02 12:48] jpopelka commented on #782
Should be fixed with:
- https://github.com/packit/deployment/pull/141
- https://github.com/packit/packit-service/pull/826

[2020-10-02 12:48] #782 closed

[2020-10-05 08:06] TomasTomecek commented on #278
We will totally need this for Stream, so it's coming...

[2020-10-05 08:25] TomasTomecek commented on #692
I still think we should have a way to run commands in shell and do it by default since that's what other CI systems are doing. I'd say the suggestion from Hunor is spot on - when the command is written as `command -opt -opt2 arg`, we now parse it by splitting it,  thanks to `shlex.split`, but I think that's something which we shouldn't be doing - instead we should just take the input and shove it

[2020-10-05 09:01] csomh commented on #855
dist2src-worker has marshmallow 3 now, so this might not be the case anymore.

[2020-10-06 07:36] TomasTomecek commented on #957
still open

[2020-10-10 18:07] #916 closed

[2020-10-13 07:26] lachmanfrantisek commented on #558
I think we can close this. The requre tests were reworked in the last weeks (thanks @jscotka :tada:) and I can't find the test in the subject.

[2020-10-13 07:26] #558 closed

[2020-10-13 07:27] lachmanfrantisek commented on #531
@TomasTomecek It's more than a year. What about closing this issue and open a new if needed?

[2020-10-13 07:35] lachmanfrantisek commented on #598
I am sorry, but I am really not sure about the outcome of this issue.

I'm going to close the issue, but if you feel something is missing on our site, please don't be afraid to reopen or (ideally) create a new issue with the more specific request. Thanks in advance!

[2020-10-13 07:35] #598 closed

[2020-10-13 08:05] lachmanfrantisek opened #989 "Fallback for aliasing"
A follow-up to #706.

- When we automatically determine aliases on the way, we should have a fallback when e.g. bodhi is down.
- This issues is about:
  - [x] agree on the solution
  - [x] agree on how we are going to update the fallback values
  - [x] think about (and implement) the error propagation -- e.g. warning for CLI and sentry issue for packit-service
  - [x] implement the solution if nee

[2020-10-14 08:36] TomasTomecek commented on #989
I'd suggest we'd fall back to a static list which could be updated via a pre-commit hook.

[2020-10-15 09:25] jpopelka opened #991 "New minor release"

[2020-10-15 15:56] packit-as-a-service-stg[bot] opened #993 "[packit] Propose update failed for release 0.18.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `Failed to init kerberos ticket:` |
| `f32` | `Failed to init kerberos ticket:` |
| `f33` | `Failed to init kerberos ticket:` |
| `master` | `Failed to init kerberos ticket:` |

You can re-trigger the update by adding `/packit propose-update` to the issue comment.

[2020-10-19 07:46] lachmanfrantisek commented on #993
Expected on stage.

[2020-10-19 07:46] #993 closed

[2020-10-19 14:53] #942 closed

[2020-10-20 14:15] lachmanfrantisek commented on #883
After some digging into the code I now understand how it works by now:

In config, you can specify files that are synced to the distgit, the specfile is there by default:

https://github.com/packit/packit/blob/63a5ca5d3b4d9b21fba57be5268d2164553cf1b3/packit/config/common_package_config.py#L152-L155

We are copying all but the specfile to the distgit.

With specfile, we are copying the content pres

[2020-10-20 14:16] lachmanfrantisek commented on #883
So the conlcusion here is to create a new option in config that will cause that the specfile will be copied directly to downstream as is.

Is that right?

Or do we want to adapt any alternative solution you were mentioning?

[2020-10-21 08:33] jkonecny12 commented on #883
From the Anaconda PoV that would be great solution. And I think it's a great solution in general, you can always change spec file before doing release in your repository.

[2020-10-22 09:59] TomasTomecek commented on #936
It's been two+ months since the last comment, I am going to close. If you run into this issues again, please reach out!

[2020-10-22 09:59] #936 closed

[2020-10-23 10:21] #883 closed

[2020-10-23 11:13] lachmanfrantisek commented on #883
@jkonecny12 can you please check it solves your problem?

You can use [our packit/packit-master copr repo](https://copr.fedorainfracloud.org/coprs/packit/packit-master/) if you want to test it before the release.

You can also wait for Monday to have it in the service.

[2020-10-23 11:36] lachmanfrantisek commented on #883
OK, found a problem with the config, sorry. Wait please for this fix: https://github.com/packit/packit/pull/1001

[2020-10-23 12:52] lachmanfrantisek commented on #883
#1001 merged, you can now use `sync_changelog: true` option to enable it.

[2020-10-28 09:53] #991 closed

[2020-10-29 10:42] packit-as-a-service-stg[bot] opened #1003 "[packit] Propose update failed for release 0.19.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `Failed to init kerberos ticket:` |
| `f32` | `Failed to init kerberos ticket:` |
| `f33` | `Failed to init kerberos ticket:` |
| `master` | `Failed to init kerberos ticket:` |

You can re-trigger the update by adding `/packit propose-update` to the issue comment.

[2020-10-29 12:36] sentry-io[bot] opened #1012 "Version not extracted properly when using upstream_tag_template"
Sentry Issue: [RED-HAT-0P-2WQ](https://sentry.io/organizations/red-hat-0p/issues/1941716187/?referrer=github_integration)

[code]

Links for this example:
- [config](https://github.com/fedora-modularity/libmodulemd/blob/main/.packit.yml)
- [release](https://github.com/fedora-modularity/libmodulemd/releases/tag/libmodulemd-2.9.4) (See the `libmodulemd-2.9.4` tag, why we got only `2.9.4`?)

[2020-10-29 14:24] lachmanfrantisek commented on #1003
Expected on stage.

[2020-10-29 14:24] #1003 closed

[2020-11-03 08:16] #706 closed

[2020-11-03 08:36] lachmanfrantisek commented on #232
It's used only in the config and some tests so it definitely can't work..;)

We can remove the dry-run from the code or implement it for real.
- The implementation will probably require working dry-run in OGR, that does not work well and/or other tweaks in the code. So, is it worth spending time on it?

[2020-11-03 10:07] TomasTomecek commented on #783
This is no longer valid, we now provide actions output by default:
[code]

[2020-11-03 10:07] #783 closed

[2020-11-03 10:14] lachmanfrantisek commented on #783
Thanks for looking into that!

[2020-11-03 11:30] TomasTomecek commented on #232
I'd remove it for good since I never heard anyone using it - also most of our actions are not irreversible or destructive.

[2020-11-03 12:49] lachmanfrantisek commented on #232
As we agreed on the arch meeting, let's close and I'll create a new good-first-issue for the removal.

[2020-11-03 12:49] #232 closed

[2020-11-03 12:52] lachmanfrantisek opened #1006 "Remove the occurences of the dry-run"
In #232 we agreed that dry-run does not work (we have only the config part now) and it's not worth implementing it.

- [ ] remove all the occurrences of the dry-run from the codebase
  - both `packit` and `packit-service` have it in tests

---

We can reconsider the implementation when/if someone asks for it.

[2020-11-04 13:07] #427 closed

[2020-11-05 16:11] jkonecny12 commented on #427
This looks like a great feature. I'm looking forward to test this!

[2020-11-09 09:47] jpopelka opened #1008 "TypeError: catching classes that do not inherit from BaseException is not allowed"
When running `make check-inside-openshift PATH_TO_SECRETS=...` in packit-service I'm seeing:

[code]

[2020-11-09 11:34] jpopelka commented on #1008
Actually, it's probably a consequence of https://github.com/packit/packit-service/issues/860

[2020-11-09 11:39] lachmanfrantisek opened #1010 "Both build and test in default jobs"
It's misleading for new users to get only the testing-farm dashboard link when they don't configure any jobs.

- relevant code: https://github.com/packit/packit/blob/c0137afea0f4471e9fc9cc03014dd0e1f3dc8fd1/packit/config/job_config.py#L265-L284
- example PR: https://github.com/pcahyna/packit_demo_2/pull/1

AC:

- [ ] Both `test` and `build` jobs are used when a user does not configure anything.

[2020-11-09 11:47] pcahyna commented on #1010
I would say that even if users configure only a test job explicitly, the status from the build job should be shown as well. How do users know that the build has succeeded and the failure is from the test job if there is no success reported from the build job? And how will they debug the test problem when there is no link to download the RPM/SRPM built that they could examine or test locally to inv

[2020-11-09 12:56] pcahyna opened #1011 "spec_source_id is ignored when using Source: in spec file"
When there is a multi-source spec file and `spec_source_id` is used to specify a non-default source (such as `Source1`), it is ignored, if the first source is specified as `Source:`. packit transforms the `Source:` line, not the `Source1:` one.
Workaround: use `Source0:` in the specfile, instead of `Source:`.
IMO this is a bug, `Source0:` and `Source:` should be equivalent.
Compare
https://downloa

[2020-11-10 09:17] lachmanfrantisek commented on #1010
This is exactly https://github.com/packit/packit-service/issues/506 that will be solved by using our page with the details and link the testing-farm dashboard from it. (As described in [this comment](https://github.com/packit/packit-service/issues/506#issuecomment-618346045).)

[2020-11-10 09:20] lachmanfrantisek commented on #1010
I've created an issue in the packit-service repo for that: https://github.com/packit/packit-service/issues/862

[2020-11-10 09:33] pcahyna commented on #1010
Thanks, from my POV this one would have a lower priority. If I have the copr link, I can get to the SRPM myself without too much effort. My main problem was that I did not have any copr link (or any status page like https://prod.packit.dev/copr-build/69250) at all in my case.

[2020-11-10 10:01] #1008 closed

[2020-11-10 15:49] nforro commented on #1011
Not necessarily, `Source` (or `Patch`) tags without an index use [autonumbering](https://github.com/rpm-software-management/rpm/blob/376fef14a61a9748ce004888fe19445719a5d2d5/build/parsePreamble.c#L294-L300), continuing from the last used index (or -1 if there is none).

[2020-11-10 16:20] pcahyna commented on #1011
Ah. Thanks, I was not aware of that feature. Still, packit does not seem to treat it correctly.

[2020-11-11 08:06] lachmanfrantisek commented on #1011
@nforro Thanks for the info.

Yes, we [use](https://github.com/packit/packit/blob/master/packit/specfile.py#L45) `rebasehelper.Specfile`. (We have an ancestor class.) But we use some custom code when replacing the sources:

Here is a probable victim:
https://github.com/packit/packit/blob/db8445ee28520e5708ec1cf9a3c84114db8f215c/packit/specfile.py#L221-L247

[2020-11-11 10:38] nforro commented on #1011
I see, and `source_name` comes directly from the configuration. You could take advantage of `SpecFile.tags` and rewrite the method like this:

[code]

But it would be more convenient to return `source` (`Tag` object) from `get_source()` and use `SpecFile.set_raw_tag_value(source.name, value)` to replace the content.

[2020-11-11 11:30] TomasTomecek commented on #1011
@nforro would you be interested in contributing such fix yourself?

[2020-11-11 11:33] nforro commented on #1011
@TomasTomecek Sure, but I'm not really familiar with packit codebase, so it will take me a while.

[2020-11-12 10:45] #1012 closed

[2020-11-12 16:32] csomh opened #1017 "New minor release"

[2020-11-12 16:37] #1017 closed

[2020-11-13 09:17] bocekm opened #1019 "Submit of the build failed: Unable to connect to https://copr.fedorainfracloud.org/api_3/"
Upon merging to the main branch of https://github.com/oamg/convert2rhel/, a copr build job [is triggered](https://github.com/oamg/convert2rhel/blob/master/.packit.yaml#L20).

Since today, the copr build is not being created with packit reporting:
`Submit of the build failed: Unable to connect to https://copr.fedorainfracloud.org/api_3/.`

[2020-11-13 09:23] bocekm commented on #1019
Oh, it seems to be due to https://copr.fedorainfracloud.org/ being down.

[2020-11-13 10:38] TomasTomecek commented on #1019
@bocekm thanks for taking time opening this issue!

Is there something we could do here which would make matters better? One idea we had back then was to keep jobs in queue (by job I mean the fact you pushed to a branch) and schedule them (initiate the build) once the remote service becomes available. Would such a thing be interesting for you or is it just better the trigger builds once copr becom

[2020-11-13 10:53] TomasTomecek commented on #675
8 moths without attention, it either disappeared or we just don't have time to chase this down: closing

feel free to reopen if you still care

[2020-11-13 10:53] #675 closed

[2020-11-13 10:54] TomasTomecek commented on #354
I think we should completely rework sync-files & sync-from-downstream, especially once implementing automation for the new source-git repos

[2020-11-13 11:21] packit-as-a-service-stg[bot] opened #1020 "[packit] Propose update failed for release 0.20.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `Failed to init kerberos ticket:` |
| `f32` | `Failed to init kerberos ticket:` |
| `f33` | `Failed to init kerberos ticket:` |
| `f34` | `Failed to init kerberos ticket:` |
| `master` | `Failed to init kerberos ticket:` |

You can re-trigger the update by adding `/packit propose

[2020-11-13 11:40] bocekm commented on #1019
The queue sounds like a good idea and I'd appreciate it, even though it is more like a nice-to-have feature.

[2020-11-13 15:17] #1011 closed

[2020-11-16 11:14] mfocko commented on #1020
Expected on stage

[2020-11-16 11:14] #1020 closed

[2020-11-16 12:53] jkonecny12 opened #1022 "Add support for a schedule trigger"
Hello everyone. Thanks for an amazing job on Packit!

Right now the supported triggers are ``commit``, ``release``, ``pull_request``. However, in some situations it could be beneficial to run the Packit job once a day or every hour, etc...

This could be especially useful when you don't want to overload COPR by 'daily' builds on each commit instead of once a day. There is not a better option right

[2020-11-16 15:05] jkonecny12 opened #1023 "Packit service generated version make tar fail"
Hello,

I've found this issue when I was adding Packit support to one of our projects. Seems that tar has an issue with generated number for the package version from Packit.

https://prod.packit.dev/srpm-build/9864/logs

[code]

From my understanding tar archive couldn't be modified because of name but it's possible that I understand it wrong. It's not happening when the SRPM archive is created lo

[2020-11-18 10:35] TomasTomecek commented on #1022
We already got a request like this and it's absolutely a great idea!

The thing is it's not trivial to implement and I can guarantee that we won't have time to work on this in next weeks (even months).

If this is important to you and your team, maybe think about contributing the change :)

[2020-11-18 11:35] #1010 closed

[2020-11-19 11:01] lachmanfrantisek commented on #903
Still looks like a good idea.

[2020-11-19 11:02] lachmanfrantisek commented on #903
Anyone will appretiate this?

[2020-11-19 13:17] jkonecny12 commented on #1022
Thanks a lot for your reply. It's not that important really. At least not right now. But we will definitely look on the code if it began to be a bigger priority.

[2020-11-19 17:51] bocekm opened #1026 "Copr build process stuck at "Pending — Starting RPM build... ""
Under https://github.com/oamg/convert2rhel/pull/122, the copr builds are not being created. The last message from packit is _"Pending — Starting RPM build... "_.
When looking at the linked copr build job (https://copr.fedorainfracloud.org/coprs/g/oamg/convert2rhel/build/1775484/), it says _"importing - Package sources are being imported into Copr DistGit."_

[2020-11-20 08:41] csomh commented on #903
I will appreciate this :blue_heart:

[2020-11-20 10:02] lachmanfrantisek commented on #1026
Hmm, looks like some problem on Copr side -- please, let us know if this happens again. The `/packit build` should help (like you've tried).

*I am moving the issue to the packit-service repo...*

[2020-11-23 11:46] jkonecny12 commented on #1023
I was  thinking if it is not related. Thanks for that!

In that case, feel free to close this issue because as I mentioned in the description I'm switching the release process to setup.py instead.

[2020-11-23 13:37] lachmanfrantisek commented on #831
Still a problem.

[2020-11-24 10:12] lachmanfrantisek commented on #1023
We agreed with @TomasTomecek that we should at least document this behaviour.

[2020-11-24 14:31] mfocko opened #1028 "Specfile path in configuration"
As we discussed within team (consequence of https://github.com/packit/packit/pull/1027), we require explicitly set specfile path in the packit configuration.

TODO:
- [x] warn user when specfile path is not specified in `.packit.yaml`
- [x] improve `packit init` so that it (even recursively) looks up the specfile path and sets it accordingly in `.packit.yaml`
- [x] update docs to reflect the decis

[2020-11-24 14:35] TurboTurtle opened #1029 "Packit shouldn't require commiter permissions to perform copr builds"
Packit should be able to perform builds regardless of who submitted the PR to a repo that is using packit.

We have far more individual contributors opening PRs than maintainers for our project ([sosreport/sos](https://github.com/sosreport/sos)) and an artificial requirement for contributors to have write access to the repo makes packit untenable for us to use. Requiring a maintainer to post on a

[2020-11-24 15:08] lachmanfrantisek commented on #1029
@TurboTurtle thanks for the feedback!

Yes, you are right. The current situation is not ideal.

We already have an open issue covering this: https://github.com/packit/packit-service/issues/250#issuecomment-555040001 (I'll close this issue in favour of the other one but feel free to comment here or (ideally) there.)

Shortly:
- This rule is there because of legal reasons.
- Possible solutions befor

[2020-11-24 15:08] #1029 closed

[2020-11-24 15:25] TurboTurtle commented on #1029
We do receive contributions from new users fairly frequently. Generally speaking what we have is a high number of contributors, each with relatively low to moderate amounts of PRs.

A comment command could work as an interim measure if it allowed us to approve a user across a repo/org until another solution on the legal front is devised.

[2020-11-24 15:41] lachmanfrantisek commented on #1029
OK, Il try to bump that on our todo.

[2020-11-24 15:50] lachmanfrantisek commented on #975
I think this is becoming more and more relevant when working on centos-stream.

[2020-11-25 12:35] TomasTomecek opened #1031 "propose-update in source-git w/o downstream_package_name set results in traceback"
[code]

[code]

we should fall back to repo name, not None

[2020-11-25 12:48] jpopelka opened #1032 "New minor release"

[2020-11-25 12:49] #1032 closed

[2020-11-25 13:48] packit-as-a-service-stg[bot] opened #1034 "[packit] Propose update failed for release 0.21.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f32` | `Failed to init kerberos ticket:` |
| `f33` | `Failed to init kerberos ticket:` |
| `f34` | `Failed to init kerberos ticket:` |
| `master` | `Failed to init kerberos ticket:` |

You can re-trigger the update by adding `/packit propose-update` to the issue comment.

[2020-11-25 13:51] mfocko commented on #1034
expected on stage

[2020-11-25 13:51] #1034 closed

[2020-11-27 10:48] sentry-io[bot] opened #1035 "PackitConfigException: Cannot parse package config: TypeError("__init__() got an unexpected keyword argument 'dist_git_u..."
Sentry Issue: [RED-HAT-0P-301](https://sentry.io/organizations/red-hat-0p/issues/2057183367/?referrer=github_integration)

[code]

[2020-11-27 11:18] jpopelka commented on #1035
[Already resolved](https://github.com/user-cont/conu/pull/380/commits/8b428aa4ea237913839e8986ff96d3b719805060)

[2020-11-27 12:14] TomasTomecek commented on #1035
I beg to differ - I'd expect when users have wrong or outdated values in .packit.yaml, p-s should set a commit status with that error, or put a comment in a PR; in this case, we have this nasty error in sentry - I'd expect to have no error sentry

[2020-11-27 13:49] lachmanfrantisek commented on #1035
I already created an issue for this some time ago: https://github.com/packit/packit-service/issues/701

[2020-11-27 13:49] #1035 closed

[2020-11-27 16:25] jpopelka commented on #831
I've been looking at this (aiming to implement https://github.com/packit/packit/issues/831#issuecomment-631011749) and the [CoprBuildJobHelper.run_build()](https://github.com/packit/packit-service/blob/master/packit_service/worker/build/copr_build.py#L281) now does much more than just srpm build + [PackitAPI.run_copr_build()](https://github.com/packit/packit/blob/master/packit/api.py#L690). There'

[2020-11-27 16:25] #831 closed

[2020-11-30 13:08] lachmanfrantisek commented on #840
Still makes sense. And a good good-first-issue for newcomers..

[2020-11-30 13:11] lachmanfrantisek commented on #982
Still makes sense. Maybe we can try to upstream our spec-file code to rebase-helper, WDYT?

[2020-11-30 13:27] lachmanfrantisek commented on #354
I am reopening then...

[2020-12-01 07:53] lachmanfrantisek commented on #984
I would still like to see the easier way of storing URLs. Checking of the URLs is a nice-to-have to me. What do others think? Do we want/need this?

[2020-12-03 18:58] bocekm opened #1041 "EPEL 6 not available in Fedora Copr"
Yesterday the EPEL 6 chroot has been dropped from Fedora Copr for good. It results in messages from the Packit bot like this: https://github.com/oamg/convert2rhel/pull/125#issuecomment-737885317 - that we should enable the chroot in the Copr settings.

I know that you can't do anything about the fact that the chroot is not available anymore. Before me move the convert2rhel CD from packit to anothe

[2020-12-04 08:34] lachmanfrantisek commented on #1041
@bocekm Yes, you are right. It's really tricky.

By now, we support only the copr supported targets for copr-builds and fedora-koji supported targets for scratch builds.

Do you know of any build system supporting epel/CentOS 6? We have shortly discussed this in the team and don't know about any such system. Let us know if you know about any. We can at least think about supporting that.

[2020-12-04 09:51] jkonecny12 opened #1042 "Using outdated containers (at least for testing)"
When I was doing some other changes and executed tests in container I found that your containers are still on Fedora 31 which is not supported anymore.

I don't know the exact impact so I don't want to create PR to fix this, however, it would be nice to update the Dockerfiles.

Low priority of course ;)

[2020-12-04 10:58] lachmanfrantisek commented on #1042
Thanks for that. You are right. We don't use this image as a base for service images anymore. And it was nearly removed (#1007) because we don't use it much. It's there mainly for non-fedora users that can't install packit on the host.

@jpopelka Were there any problems with moving to the newer image? (The service [is based](https://github.com/packit/deployment/blob/76660bac513ed7ecec3fa60f4e8150c

[2020-12-04 12:30] TomasTomecek commented on #1041
@bocekm Since el6 is no longer available in Fedora infra, you won't be even able to distribute el6 builds via Fedora (COPR/koji).

Sadly I don't think there is anything we can do here from our side (one idea I had was to do builds in CentOS' buildsystem, but they also no longer seem to be distributing el6: http://isoredirect.centos.org/centos/6)

[2020-12-04 12:45] jpopelka commented on #1042
I tried to remove it completely, not move to a newer base image, so I can't answer :-)

[2020-12-04 13:53] #1042 closed

[2020-12-04 14:20] lachmanfrantisek commented on #1042
..;) I know, but you are the more relevant person. I think.

Thanks for the quick fix.

[2020-12-04 23:49] bocekm commented on #1041
So far, our "best" candidate is internal Red Hat copr which has the EPEL 6 chroot (and even EPEL 5 :-o). The problem is that the builds wouldn't be publicly available (unless we copy them to some public storage).

Another idea from @zhukovgreen was to use [Gitlab Package Registry](https://docs.gitlab.com/ee/user/packages/) but it sadly does not support RPMs.

Unfortunately we'll also need to find

[2020-12-04 23:56] ZhukovGreen commented on #1041
@bocekm I see gitlab package registry supports pypi wheels. I think this could be the option for us

[2020-12-07 08:04] lachmanfrantisek commented on #855
f31 is EOL so we can start the work.

[2020-12-07 08:10] lachmanfrantisek commented on #278
@TomasTomecek do we want to prioritize it?

What about a prepared image, wouldn't it be much easier?

[2020-12-07 08:11] lachmanfrantisek commented on #692
I think we still want that and I hope we can make it.

[2020-12-07 09:43] jkonecny12 commented on #1042
Thanks for solving this!

[2020-12-07 11:09] bocekm commented on #1041
@ZhukovGreen, how can one install a wheel package on CentOS/OL 6 considering there's no pip available?

[2020-12-07 11:38] ZhukovGreen commented on #1041
@bocekm ok, in case of no pip, the option with the python wheel is impossible:)

[2020-12-07 16:41] TomasTomecek commented on #692
given how complex this problem turned out to be, I propose not doing it since we'd probably need to push for version 2 of packit.yaml (or having two ways to define commands as Hunor suggests)

instead I suggest making it clear in docs how commands are executed and improving the error message from run_command

we have bigger fish to fry and this is not the one

[2020-12-07 16:43] TomasTomecek commented on #278
@nforro is working on building rebase-helper in EPEL8, once that's done, it should be trivial to update the docs wrt installation

[2020-12-07 16:44] csomh commented on #278
I think it would be nice to try and solve this by packaging `packit` in EPEL8. Would this be even possible? What dependencies are missing?

[2020-12-07 16:44] TomasTomecek opened #1045 "README is outdated"
I recently stumbled upon packit's README and realized how outdated it is. I suggest dropping as much content as possible and pointing people to https://packit.dev/

[2020-12-07 16:49] nforro commented on #278
@csomh As Tomas said, I'm working on it. There already is a [COPR repo](https://copr.fedorainfracloud.org/coprs/nforro/epel8/packages/) with packit built for EPEL8, but I'm currently trying to verify that everything works as expected.

[2020-12-07 16:54] csomh commented on #278
Oh, I see, I thought that work is only on `rebase-helper`.

Thanks for the update and your work @nforro! If there is anything we can help with testing, please let us know.

[2020-12-07 19:15] nforro commented on #278
Ok, I'm getting some test failures:

[code]

However, all the integration test failures seem to be caused by `Packit failed to clone the repository beer`. I'm not sure what's going on there, `fedpkg` works fine.

Complete output [here](https://github.com/packit/packit/files/5654726/tests.txt).

[2020-12-08 08:47] lachmanfrantisek commented on #692
OK, I am closing then and we can create a new issue in case of any user problems...

[2020-12-08 08:47] #692 closed

[2020-12-08 12:53] nforro commented on #278
So the first two failures are trivial, they are caused by a change of a default in pyyaml: https://github.com/yaml/pyyaml/issues/199
The solution is to explicitly pass `default_flow_style=False` to `yaml.dump()`. I can open a PR for that.

The other two seem to be a lot more complex, but I'll try to dig deeper into it.

[2020-12-08 13:43] TomasTomecek commented on #1045
@csomh suggested to look at how k8s organizes their README, so please get inspired how they do it (or even other popular projects) and slim down our README in a similar way

make sure that viewers of the document know where to go next, especially: contributors, present users, new users, people interested in CentOS Stream, people interested in source-git

[2020-12-08 14:22] nforro commented on #278
Sorry, my bad, I wasn't using matching revision of the test suite. With the abovementioned fix all unit tests pass (still 33 failed integration tests though).

One more issue with the test suite I haven't mentioned yet. There is no `contextlib.nullcontext` in Python 3.6, but `contextlib.suppress` seems to be working as a replacement.

[2020-12-08 18:00] nforro commented on #278
I think I figured out the cause (or at least one of them) behind failing integration tests:

https://github.com/packit/packit/blob/485bd887b0c0ce97b0f48d4fb74cd74be47f3ab4/tests/data/dist_git/beer.spec#L9-L11

The condition is obviously false on EPEL, so we end up with a spec file without any sources.

[2020-12-08 19:54] ChainYo commented on #1045
Hey, I would like to **help on this issue.**

@TomasTomecek I looked at [this project](https://github.com/kubernetes/kops) readme, but I'm not sure if you talked to this kind of readme setup.

[2020-12-09 08:10] lachmanfrantisek commented on #278
Good catch!

[2020-12-09 21:11] lachmanfrantisek commented on #1045
@ChainYo That would be really nice if you can take a look!

I would maybe pick https://github.com/kubernetes/kubernetes as a better example, @TomasTomecek @csomh what do you think? Do we have some specific requirements?

My personal points:
- Use our logo at the top of the README.
- Short intro.
- Link our documentation as much as possible.
- Link our contribution guide.

[2020-12-10 07:55] lbarcziova opened #1050 "New minor release"

[2020-12-10 10:57] packit-as-a-service-stg[bot] opened #1053 "[packit] Propose update failed for release 0.22.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f32` | `Failed to init kerberos ticket:` |
| `f33` | `Failed to init kerberos ticket:` |
| `f34` | `Failed to init kerberos ticket:` |
| `master` | `Failed to init kerberos ticket:` |

You can retrigger the update by adding a comment (`/packit propose-update`) into this issue.

[2020-12-10 10:58] packit-as-a-service[bot] opened #1054 "[packit] Propose update failed for release 0.22.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f34` | `Ref 'remotes/origin/f34' did not resolve to an object` |

You can retrigger the update by adding a comment (`/packit propose-update`) into this issue.

[2020-12-10 18:03] nforro commented on #278
I think there is only one remaining issue, git in RHEL/EPEL 8 doesn't support the `%GF` format placeholder, so `CommitVerifier.get_commit_signer_fingerprint()` doesn't work:
https://github.com/packit/packit/blob/143c2a70b0d64cb7707f9ec6a963ea689469eab5/packit/security.py#L152-L155

[2020-12-10 18:12] nforro commented on #278
Never mind, git was just rebased to version 2.27 in RHEL 8.

[2020-12-11 08:11] lachmanfrantisek commented on #278
@nforro Thanks for the update!

I am not aware of any usage of this feature (checking the commit signatures) so I would not be worried about that specifically.

Just to make it clear. Does this mean that the `%GF` is supported there?

[2020-12-11 08:16] nforro commented on #278
Yes, it was added in 2.20. I'm testing this in mock and I didn't update the installed packages for a couple of days, so I missed the git update.

[2020-12-11 09:20] lachmanfrantisek commented on #1053
Expected on stage.

[2020-12-11 09:20] #1053 closed

[2020-12-13 20:22] MarkoShiva commented on #1028
Hi @mfocko can I take the issue?
What are guidelines? regular PR submit?
Btw I do not run currently Fedora but ArchLinux distribution however if necessary I can spin up the Fedora in KVM.
Thanks
Marko

[2020-12-13 20:25] MarkoShiva commented on #1006
Hi @lachmanfrantisek
Can I take the issue. I just found this project and want to contribute I am experienced python and C++ developer.
Just want to get familiar with codebase. However as I mentioned on other issue labeled as a "good first issue" #1028
I currently run ArchLinux an can if needed spin up fedora in KVM.
Thanks
Marko

[2020-12-14 10:21] lachmanfrantisek commented on #1028
@MarkoShiva thanks for the interest!

Sure, you can take the issue. It would be nice.

Take a look on our [contribution guide](https://github.com/packit/packit/blob/master/CONTRIBUTING.md). Note the common guidelines that are shared across our repositories. (The very first link.)

Since we do a lot of work around rpm, it's now not possible to install all the dependencies on non-rpm repo. But a fed

[2020-12-14 10:23] lachmanfrantisek commented on #1006
@MarkoShiva Yes, sure!

I've tried to answer your question in the other repo. I am going to assign you also this one. Let us know if you need some help.

[2020-12-14 11:00] mfocko commented on #1028
I noticed that `toolbox` is also present in [archLinux repository](https://www.archlinux.org/packages/community/x86_64/toolbox/), but from documentation I think you'll need to explicitly specify Fedora release (or even image?) for the container since the default seems to scrap release from `/etc/...`

[2020-12-14 14:41] MarkoShiva commented on #1028
Well i have used a vagrantv with libvirt image of fedora base. Vagrant wasn't updated to reflect a new fedora cloud base version 33 original file reference 30. I guess just no one was updating and that particular image is not available anymore on fedora hosting fir neither provider.

I also use docker so i think docker in kvm libvirt that already applied updates from ansible would be ok as develop

[2020-12-15 00:29] MarkoShiva commented on #1028
I guess vagrant is obsolete and therefor wasnt updated no problem I will use docker.

[2020-12-15 08:04] lachmanfrantisek commented on #1028
Sorry for the late reply. Yes. I would use docker/podman with Fedora image or build the one [defined](https://github.com/packit/packit/blob/master/Dockerfile) in this repository.

[2020-12-15 08:31] lachmanfrantisek commented on #989
Still valid.

[2020-12-16 08:40] #1045 closed

[2020-12-16 08:49] lachmanfrantisek commented on #354
Stale bot! Why again?

(I need to check the removal of stale label more carefully.)

[2021-01-04 12:21] SpyTec opened #1064 "Packit SRPM builds fails due to unexpected argument `client_configuration`"
Trying to build https://github.com/oamg/convert2rhel/pull/138 gives us errors on [builds](https://prod.packit.dev/srpm-build/11650/logs):

<details>
<summary>SRPM build logs</summary>

[code]

</details>

On a sidenote, can we get datetime printed on the SRPM builds and not just time? I can't tell if these logs are old or not without looking at the commits

[2021-01-04 12:29] lachmanfrantisek commented on #1064
@SpyTec thanks for letting us know, we hit some problems with our dependencies. The was deployed a few minutes ago. I hope another `/packit build` should fix that.

Sorry about that.

[2021-01-04 12:30] lachmanfrantisek commented on #1064
A really good point. I'll create an issue for that.

[2021-01-04 12:42] SpyTec commented on #1064
Seems to work. Thanks!

[2021-01-04 12:42] #1064 closed

[2021-01-04 12:44] lachmanfrantisek commented on #1064
No problem.

[2021-01-04 15:36] TomasTomecek commented on #278
happy new year everyone! so how are we doing here?

[2021-01-04 16:29] nforro commented on #278
As far as the dependencies in EPEL 8 go, pretty much the only blocker now is `python-setuptools_scm_git_archive`.  I'm about to initiate non-responsive maintainer process.

[2021-01-05 08:59] lachmanfrantisek commented on #1041
@bocekm Looks like the epel6 is back on Copr -- can we close this issue or do you know about anything we can do here?

[2021-01-05 09:25] #756 closed

[2021-01-05 10:09] bocekm commented on #1041
Oh yeah, it is back again. Sorry for not updating this issue when that happened.

[2021-01-05 10:09] #1041 closed

[2021-01-05 16:13] lachmanfrantisek commented on #873
Looks like we don't have spare time on it and no one actually requested that.